.myinput {
  padding: 1rem;
  border-radius: $border-radius * 0.2;
}
.all-border {
  border: $field-border-var;
  input:focus {
    outline: none !important;
  }
  &:focus-within {
    border: $accent solid 1px;
  }
}

.err-border {
  border: $field-border-error;
}
