.snack.error {
  background: $err !important;
}
.snack.report {
  background: #ffb70a !important;
}
.snack.lightbulb {
  background: #35c4fc !important;
}
.snack.check_circle {
  background: $success !important;
}
