*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
:root {
  --primary-font: "Source Sans Pro", sans-serif;
  --secondary-font: "Righteous";
}
img {
  border: 0;
}
html {
  font-size: 62.5%; //1rem = 10px
  scroll-behavior: smooth;
  height: 100%;
  padding: 0rem;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  @include res(tab-land) {
    font-size: 57.25%;
  }
  @include res(tab) {
    font-size: 50%;
  }

  @include res(phone) {
    font-size: 40%;
  }

  @include res(desktop) {
    font-size: 60.25%;
  }
  overflow-x: hidden;
}
section {
  min-height: min-content;
}
body {
  padding: 0rem;
  box-sizing: border-box;
  background-color: $white;
  height: 100vh;
  p {
    margin-bottom: 0;
  }
  // padding: 0 10% 0 10%;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}
