.m2 {
  margin: paddingMultiplayer(2);
}
.m4 {
  margin: paddingMultiplayer(4);
}
.m6 {
  margin: paddingMultiplayer(6);
}
.m8 {
  margin: paddingMultiplayer(8);
}
.p1 {
  padding: paddingMultiplayer(1);
}
.p2 {
  padding: paddingMultiplayer(2);
}
.p4 {
  padding: paddingMultiplayer(4);
}
.p6 {
  padding: paddingMultiplayer(6);
}
.p8 {
  padding: paddingMultiplayer(8);
}
//horizontal padding only

.hp1 {
  padding: 0rem paddingMultiplayer(1);
}
.hp2 {
  padding: 0rem paddingMultiplayer(2);
}
.hp4 {
  padding: 0rem paddingMultiplayer(4);
}
.hp6 {
  padding: 0rem paddingMultiplayer(6);
}
.hp8 {
  padding: 0rem paddingMultiplayer(8);
}
//vertical padding only
.vp1 {
  padding: paddingMultiplayer(1) 0rem;
}
.vp2 {
  padding: paddingMultiplayer(2) 0rem;
}
.vp4 {
  padding: paddingMultiplayer(4) 0rem;
}
.vp6 {
  padding: paddingMultiplayer(6) 0rem;
}
.vp8 {
  padding: paddingMultiplayer(8) 0rem;
}

$blur: 0.15rem;
$blur2: 0.08rem;
.blur {
  -webkit-filter: blur($blur);
  filter: blur($blur);
}

.blur2 {
  -webkit-filter: blur($blur2);
  filter: blur($blur2);
}
