<div class="main" [ngClass]="{ 'all-border': hasBorder }">
  <app-validation-icon
    [icon]="icon"
    [isFocused]="isfocused"
    [errors]="errmsg"
    [placeholder]="placeholder"
  ></app-validation-icon>
  <mat-form-field appearance="fill" floatLabel="never">
    <mat-label>Travel Type</mat-label>
    <mat-select
      on-focus="onFocus($event)"
      on-focusout="onFocusOut()"
      [formControl]="control"
    >
      <mat-option *ngFor="let data of values" [value]="data.id">
        <img
          [ngClass]="{ hide: !data.icon }"
          class="icon"
          [src]="getImage(data.icon)"
          alt=""
        />
        {{ data.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
