@import "/src/assets/css/abstract/variables";
@import "/src/assets/css/abstract/mixins";

$border: grey solid 1px;

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background: white;
  font-size: 1.5rem;
  color: grey;
  align-items: center;
  // margin: 1px;
  padding: $form-file-padding;
  font-size: 1.5rem;
  @include angularMatInputStyle;
  .input {
    margin: 0 0 0 1rem;
    &:lang(ar) {
      margin: 0 1rem 0 0;
    }
  }
}
.txt {
  font-family: var(--primary-font);
}

::ng-deep .mat-form-field-label-wrapper {
  top: -9px !important;
}
// img.icon {
//   height: 5rem;
//   width: 5rem;
// }
// img.hide {
//   opacity: 0;
// }
