@mixin _mainBtnMixin {
  background-color: $accent;
  // border-radius: 1.5rem;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  color: $white;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    transform: scale(0.975);
  }
}
.main-btn {
  @include _mainBtnMixin();
  @include clickScaleEffect();
}

.main-btn_round {
  @include _mainBtnMixin();
  border-radius: 10rem;
}
.btn-inverse {
  color: $accent;
  padding: 0.5rem 3rem;
  background-color: $white;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    color: $primary;
  }
}
.navlink {
  &:active,
  &:visited {
    border: none;
  }
  border: none;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  color: $primary;
  position: relative;
  text-align: center;
  &::after {
    position: absolute;
    background-color: $primary;
    content: "";
    width: 0;
    height: 0.2rem;
    bottom: -20%;
    left: 0;
    transition: all 0.2s;
  }

  &:hover {
    text-decoration: none;
    &::after {
      background-color: $accent;
      width: 100%;
    }
  }
}

.hyper-link {
  border: none;
  text-decoration: none;
  color: $accent;
  cursor: pointer;
}
