.card {
  border-radius: $border-radius;
  backdrop-filter: blur(1rem);
  box-shadow: 2px 2px 0.5rem 0.5rem rgba(#000000, 0.1);
  -webkit-backdrop-filter: blur(1rem);
  border: 3px solid rgba($color: #ffffff, $alpha: 0.005);
  background-color: #5a1020 0% 0% no-repeat padding-box;
  opacity: 1;
}
