@import "/src/app/css/abstract/variables";
mat-form-field {
  font-size: 1.5rem;
  width: 100%;
  border-radius: 0 !important;
  color: black;

  mat-icon {
    color: $accent;
    // margin-right: 2rem;
  }
}

.row {
  padding: 0 1rem;
  display: flex;
  justify-content: space-evenly;
  & * {
    cursor: pointer;
  }
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: $primary !important;
  border-radius: 0 !important;
  // opacity: 1!important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0 !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 0 !important;
}
::ng-deep .mat-form-field-label {
  color: $grey-light !important;
  // color: $mainColor!important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background: white;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background: white;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  padding: 1% 0 0 0;
  width: 100%;
}
::ng-deep .mat-form-field.mat-form-field-should-float .mat-form-field-label {
  padding: 1% 0 0 0;
  width: 100%;
}
