<mat-form-field appearance="outline" floatLabel="never">
  <mat-label>{{ placeholder }}</mat-label>
  <mat-icon matPrefix>{{ icon }}</mat-icon>
  <input
    [OnlyNumbers]="isNumeric"
    [(ngModel)]="value"
    type="text"
    matInput
    [placeholder]="placeholder"
  />
  <div *ngIf="isNumeric" class="row" matSuffix>
    <mat-icon (click)="add(1)">expand_less</mat-icon>
    <mat-icon (click)="add(-1)">expand_more</mat-icon>
  </div>
</mat-form-field>
<ng-content *ngIf="errorState"></ng-content>
