<div class="main">
  <app-banner-carousel
    class="banner-slider"
    [images]="(homeCarouselImages.getCarouselImages(800) | async)!"
    [screenHeightPercentage]="bannerHeight"
    [overlayOpacity]="34"
  >
  </app-banner-carousel>

  <div (click)="test()" class="info">
    <p class="info__top">
      {{ "searchPannel.title" | transloco }}
    </p>
    <p class="info__middle">{{ "searchPannel.desc" | transloco }}</p>
    <p class="info__bottom">
      {{ "searchPannel.extra1" | transloco }}<br />
      {{ "searchPannel.extra2" | transloco }}
    </p>
  </div>
  <section class="filter" [ngClass]="{ ripped: ticketRipped }">
    <div class="filter-tabs"></div>
    <div class="filter-body">
      <form [formGroup]="form" class="filter-form">
        <div class="filter-form__left">
          <div class="filter-form__left__inputs">
            <app-custom-select
              class="control first-item"
              formControlName="whereTo"
              [icon]="icons.compass"
              [values]="citiesData"
              [placeholder]="'inputs.whereto' | transloco"
              [hasBorder]="hasBorder"
            >
            </app-custom-select>
            <app-custom-select
              [hasBorder]="hasBorder"
              class="guest control"
              [values]="trTypes"
              [placeholder]="'travelType.placeholder' | transloco"
              formControlName="travelType"
            >
            </app-custom-select>

            <app-custom-date-picker
              [icon]="icons.profile"
              [hasBorder]="hasBorder"
              [placeholder]="'searchPannel.travelDate' | transloco"
              formControlName="date"
              class="last-item control"
            ></app-custom-date-picker>
          </div>
          <div class="filter-form__left__mask"></div>
        </div>

        <div class="filter-form__right">
          <button
            (click)="search()"
            class="main-btn info_inputs-btn"
            (mouseenter)="ticketRipped = true"
            (mouseleave)="ticketRipped = false"
          >
            <p>{{ "buttons.search" | transloco }}</p>
          </button>
        </div>
      </form>
    </div>
  </section>
</div>
