<div class="main page-padding">
  <img src="/assets/images/placeholder/istanbul.png" alt="" />

  <div class="info">
    <div class="info-text">
      <h2 i18n="main page header| main page header">All year long travel</h2>
      <h1 class="title">Let's explore all Wonderful Turkey Destination</h1>
      <h2 class="desc">
        Hi! would you explore nature paradise in the world,<br />
        let's find the best destination in Turkey with us.
      </h2>
    </div>

    <section class="info-warpper">
      <ul class="info-options">
        <li
          [ngClass]="{ active: activeTab == 'tour' }"
          (click)="changeTab('tour')"
        >
          Tours
        </li>
        <li
          [ngClass]="{ active: activeTab == 'medic' }"
          (click)="changeTab('medic')"
        >
          Medic
        </li>
      </ul>
      <form [formGroup]="form" class="info_inputs">
        <div class="info_inputs-controls">
          <app-custom-input
            class="control"
            formControlName="whereTo"
            [icon]="icons.compass"
            placeholder="sss"
          >
          </app-custom-input>
          <app-guest-count-input class="guest control" formControlName="guest">
          </app-guest-count-input>
          <!-- <app-custom-select
          [icon]="icons.work"
          [values]="tripTypes"
          formControlName="travelType"
        ></app-custom-select> -->
          <app-custom-date-picker
            [icon]="icons.profile"
            formControlName="date"
            class="last-item control"
          ></app-custom-date-picker>
        </div>
        <button class="main-btn info_inputs-btn">Search</button>

        <img
          src="assets/images/bk/ticket2.png"
          class="horiz"
          alt="Chris standing up holding his daughter Elva"
        />
      </form>
      <img
        src="assets/images/bk/ticketv.png"
        class="vert"
        alt="Chris standing up holding his daughter Elva"
      />
    </section>
  </div>
</div>
