@import "/src/assets/css/abstract/mixins";
@import "/src/assets/css/abstract/variables";

$btn-to-border-margin: 3rem;
.main {
  * {
    z-index: 2;
  }
  display: grid;
  place-items: center;
  position: relative;
  height: 90rem;
  width: 100%;
  padding: 0 20rem;
  background-color: red;
  img {
    top: 0;
    left: -1%;
    position: absolute;
    width: 110%;
    height: 75%;
    object-fit: cover;
    z-index: 0;
  }

  .info {
    color: white;
    text-align: center;
    align-items: flex-start;
    justify-items: center;
    height: 75%;
    display: grid;
    width: 100%;
    &_inputs {
      background: blue;
      display: grid;
      grid-template-columns: 80% 20%;
      &-controls {
        display: grid;
        grid-template-columns: repeat(4, 25%);
      }
    }
  }
  h2 {
    font-size: 3.1rem;
    font-weight: 400;
    @include res(med) {
      font-size: 2rem;
    }
  }
  h1 {
    font-size: 7.1rem;
    font-weight: 400;
    @include res(med) {
      font-size: 5.5rem;
    }
  }
}
