@import "/src/assets/css/abstract/mixins";
@import "/src/assets/css/abstract/variables";

.main {
  display: grid;
  place-items: center;
  position: relative;
  height: 90rem;
  img {
    top: 0;
    left: -1%;
    position: absolute;
    width: 110%;

    height: 100%;
    object-fit: cover;
  }

  .info {
    display: grid;
    height: 70%;
    z-index: 1;
    color: white;
    text-align: center;
    &_inputs {
      height: 8.6rem;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      * {
        flex: 1;
      }
      .main-btn {
        font-size: 3.5rem;
        font-weight: 800;
      }
      align-self: flex-end;
    }
    h2 {
      font-size: 3.1rem;
      font-weight: 400;
    }
    h1 {
      font-size: 7.1rem;
      font-weight: 400;
    }
  }
}
