@import "/src/assets/css/abstract/variables";

.trip-section {
  height: 100%;
}

.data {
  display: grid;
  grid-template-columns: repeat(3, minmax(20rem, 1fr));
  grid-template-rows: repeat(3, minmax(25rem, 1fr));
  height: 100%;
  gap: 1rem;
  .longX {
    grid-row: 2 / 4;
    grid-column: 1 / 1;
  }
  .longY {
    grid-column: 2 / 4;
    grid-row: 1 / 1;
  }

  .card {
    position: relative;
    cursor: pointer;
    img {
      border-radius: $border-radius;
      height: 100%;
      display: block;
      width: 100%;
      object-fit: cover;
      position: absolute;
    }
    .title {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0 0 1rem 1rem;
      background-color: rgba($black, 0.7);
      color: $white;
      padding: 0 2rem;
    }
  }
}
