@import "/src/assets/css/abstract/variables";
@import "/src/assets/css/abstract/mixins";

.trip-section {
  height: 100%;
}

.data {
  display: grid;
  grid-template-columns: repeat(auto-fill, 40rem);
  height: 100%;
  gap: 1rem;
  justify-content: center;

  .longX {
    grid-row: 1;
    grid-column: 1/-1;
    .title {
      background-color: rgba($black, 0.6);
    }
  }

  // @include res(tab) {
  //   grid-template-columns: repeat(2, 30rem);
  //   grid-auto-rows: 30rem;
  //   .longX {
  //     grid-row: 2 / 3;
  //     grid-column: 1 / 1;
  //   }
  //   .longY {
  //     grid-column: 2 / 3;
  //     grid-row: 1 / 1;
  //   }
  // }
  .card {
    height: 40rem;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-out;
    overflow: hidden;

    &:hover {
      // transform: scale(0.975);
      img {
        transform: scale(1.1);
      }
    }
    img {
      transition: all 0.3s ease-out;
      border-radius: $border-radius;
      height: 100%;
      display: block;
      width: 100%;
      object-fit: cover;
      position: absolute;
    }
    .price-range {
      position: absolute;
      top: 10%;
      right: 0;
      background-color: rgba($black, 0.6);
      color: $white;
      height: 15%;
      padding: 2rem;
      display: flex;
      align-items: center;
      text-align: start;
      font-size: 2rem;
    }
    .title {
      font-size: 3rem;
      position: absolute;
      bottom: -2%;
      left: 0;
      width: 100%;
      color: $white;
      height: 20%;
      padding: 2rem;
      display: flex;
      align-items: center;
      text-align: start;
    }
  }
}
