<div class="trip-section page-padding">
  <app-section-header
    [title]="'citysection.title' | transloco"
    [desc]="'citysection.desc' | transloco"
    [extra]="'citysection.extra' | transloco"
  ></app-section-header>

  <div class="data">
    <app-trip-card
      *ngFor="let item of cities$ | async; let i = index"
      class="data_card"
      [ngClass]="{
        longX: i == 0
      }"
      [id]="item.id"
      [img]="item.image"
      [name]="item.name"
      [isOffer]="false"
      [duration]="0"
    ></app-trip-card>
  </div>
</div>
