<div class="trip-section">
  <app-section-header
    title="Choose Your"
    desc="Best Holiday Destinations"
    extra="Extraordinary pleasure trips in small groups"
  ></app-section-header>

  <div class="data page-padding">
    <div
      *ngFor="let city of _ser.data$ | async; let i = index"
      class="card"
      [ngClass]="{
        longX: isLongX(i)
      }"
      (click)="goToOffer(city.id)"
    >
      <img [src]="city?.previewImage | serverimage" alt="" />
      <h5 class="title">{{ city.cityName }}</h5>
      <h5 class="price-range">Start from 400$</h5>
    </div>
  </div>
</div>
