<!-- <ng-image-fullscreen-view
  class="image"
  [images]="imageListObject"
  [imageIndex]="selectedImageIndex"
  [show]="showFlag"
  (close)="showFlag = false"
></ng-image-fullscreen-view> -->
<!-- <app-horizontal-listview
  class="full-banner"
  *ngIf="showFlag"
  [images]="imagesUrl"
></app-horizontal-listview> -->

<div class="map-box" #overlayContainer>
  <agm-map
    #agmMap
    [latitude]="currentLat"
    [longitude]="currentLong"
    [zoom]="zoom"
    [usePanning]="true"
    [restriction]="restriction"
    [maxZoom]="16"
    [styles]="styles"
    (zoomChange)="zoomChange($event)"
  >
    <!-- <agm-polyline
      *ngFor="
        let location of allLocationsSorted | slice: 0:timelines.length - 1;
        let i = index
      "
      [clickable]="true"
      (lineClick)="recenterMapToLocation(allLocationsSorted[i + 1])"
    >
      <agm-polyline-point
        [latitude]="allLocationsSorted[i].geo.latitude"
        [longitude]="allLocationsSorted[i].geo.longitude"
      >
      </agm-polyline-point>
      <agm-polyline-point
        [latitude]="allLocationsSorted[i + 1].geo.latitude"
        [longitude]="allLocationsSorted[i + 1].geo.longitude"
      >
      </agm-polyline-point>

      <agm-icon-sequence
        [strokeColor]="'#20aed5'"
        [repeat]="'20px'"
        [strokeWeight]="5"
        [scale]="2"
        [strokeOpacity]="100"
        [path]="'FORWARD_CLOSED_ARROW'"
      >
      </agm-icon-sequence>
    </agm-polyline> -->

    <agm-overlay
      *ngFor="let location of planLocations; let i = index"
      [latitude]="location.geo.latitude"
      [longitude]="location.geo.longitude"
      (markerClick)="recenterMapToLocation(location)"
    >
      <!-- blue html square -->
      <div
        class="location-overlay"
        [id]="location.id"
        [ngClass]="{ big: location.id == sidebarLocation.id }"
        [ngStyle]="{ 'z-index': i == 0 ? 999 : 1 }"
        (mouseover)="onOverlayHover(location.id)"
      >
        <img [src]="location.images[0] | serverimage" />
      </div>
    </agm-overlay>
  </agm-map>
  <div class="locations-list">
    <app-accordion-list
      [items]="accordionItems"
      (itemClicked)="onLocationClicked($event)"
    ></app-accordion-list>
  </div>
  <div
    class="side-information-bar"
    [ngStyle]="{
      transform: sideBarVisibility ? 'translateX(0)' : 'translateX(-90%)'
    }"
  >
    <div class="side-information-bar__wrapper">
      <div class="side-information-bar-header">
        <p>{{ "map.tourplan" | transloco }}</p>
      </div>
      <div class="side-information-bar-content">
        <div
          imageViewer="{{ allImages[selectedImageIndex]?.url }}"
          class="side-information-bar-content__header cursor"
        >
          <img src="{{ allImages[selectedImageIndex]?.url }}" />
        </div>

        <div class="side-information-bar-content__body">
          <h2>{{ sidebarLocation.name }}</h2>
          <p>{{ sidebarLocation.desc }}</p>
          <div class="side-information-bar-content__body_grid">
            <img
              *ngFor="let img of allImages; let i = index"
              [src]="img.thumb"
              alt=""
              (click)="onImageSliderClicked(i)"
            />
          </div>
          <!-- <app-horizontal-listview
            [images]="allImages"
            (itemClicked)="onImageSliderClicked($event)"
          ></app-horizontal-listview> -->
        </div>
      </div>
    </div>
  </div>

  <div class="side-information-mobile">
    <div class="location-controls">
      <div
        class="location-control left"
        (click)="prevDestination()"
        [ngStyle]="{
          backgroundColor: hasPrevLocation() ? 'white' : 'lightgrey'
        }"
      >
        <i class="fa fa-chevron-left"></i>
        <p>{{ "general.previous" | transloco }}</p>
      </div>
      <div
        class="location-control right"
        (click)="nextDestination()"
        [ngStyle]="{
          backgroundColor: hasNextLocation() ? 'white' : 'lightgrey'
        }"
      >
        <p>{{ "general.next" | transloco }}</p>
        <i class="fa fa-chevron-right"></i>
      </div>
    </div>
    <div
      class="side-information-mobile__content"
      [ngClass]="mobileSheetExpanded ? 'open' : ''"
    >
      <i
        class="fa fa-chevron-up expand"
        (click)="toggleMobileSheet()"
        [ngClass]="mobileSheetExpanded ? 'open' : ''"
      ></i>
      <div
        imageViewer="{{ allImages[selectedImageIndex]?.url }}"
        class="side-information-mobile__main-image cursor"
      >
        <img src="{{ allImages[selectedImageIndex]?.url }}" />
      </div>

      <div class="side-information-mobile__main">
        <h2>{{ sidebarLocation.name }}</h2>
        <p (click)="toggleMobileSheet()">{{ sidebarLocation.desc }}</p>
        <div class="side-information-mobile__images">
          <div class="side-information-mobile__images_grid">
            <img
              *ngFor="let img of allImages; let i = index"
              [src]="img.thumb"
              alt=""
              (click)="onImageSliderClicked(i)"
            />
          </div>
        </div>

        <!-- <app-horizontal-listview
          [images]="allImages"
          (itemClicked)="onImageSliderClicked($event)"
        ></app-horizontal-listview> -->
      </div>
    </div>
  </div>
  <i
    class="fa fa-chevron-left sidebar-toggle"
    (click)="toggleSidebar()"
    [ngClass]="sideBarVisibility ? '' : 'open'"
  ></i>
</div>
