<div class="map-box">
  <agm-map
    #agmMap
    [latitude]="currentLat"
    [longitude]="currentLong"
    [zoom]="zoom"
    [usePanning]="true"
    [restriction]="restriction"
    [maxZoom]="15"
    [styles]="styles"
  >
    <agm-polyline
      *ngFor="
        let location of allLocationsSorted | slice: 0:timelines.length;
        let i = index
      "
      [clickable]="true"
      (lineClick)="recenterMapToLocation(allLocationsSorted[i + 1])"
    >
      <agm-polyline-point
        [latitude]="allLocationsSorted[i].geo.latitude"
        [longitude]="allLocationsSorted[i].geo.longitude"
      >
      </agm-polyline-point>
      <agm-polyline-point
        [latitude]="allLocationsSorted[i + 1].geo.latitude"
        [longitude]="allLocationsSorted[i + 1].geo.longitude"
      >
      </agm-polyline-point>

      <agm-icon-sequence
        [strokeColor]="'#20aed5'"
        [repeat]="'20px'"
        [strokeWeight]="5"
        [scale]="2"
        [strokeOpacity]="100"
        [path]="'FORWARD_CLOSED_ARROW'"
      >
      </agm-icon-sequence>
    </agm-polyline>

    <ng-container *ngFor="let timeline of timelines">
      <agm-overlay
        *ngFor="let location of timeline.locations"
        [latitude]="location.geo.latitude"
        [longitude]="location.geo.longitude"
        [bounds]="{
          x: { latitude: -0.003, longitude: -0.0052 },
          y: { latitude: 0.003, longitude: 0.0052 }
        }"
        (markerClick)="recenterMapToLocation(location)"
      >
        <!-- blue html square -->
        <div class="location-overlay">
          <img [src]="location.image" />
          <h2>{{ location.name }}</h2>
        </div>
      </agm-overlay>
    </ng-container>
  </agm-map>
  <div class="locations-list">
    <app-accordion-list
      [items]="accordionItems"
      (itemClicked)="onLocationClicked($event)"
    ></app-accordion-list>
  </div>
  <div
    class="side-information-bar"
    [ngStyle]="{ left: sideBarVisibility ? ' 0px' : '-25%' }"
  >
    <div class="side-information-bar__wrapper">
      <div class="side-information-bar-header"><p>Tour plan</p></div>
      <div class="side-information-bar-content">
        <img src="{{ sidebarLocation.image }}" />
        <div class="side-information-bar-content__body">
          <h2>{{ sidebarLocation.name }}</h2>
          <p>{{ sidebarLocation.desc }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="side-information-mobile">
    <div class="location-controls">
      <div
        class="location-control left"
        (click)="prevDestination()"
        [ngStyle]="{
          backgroundColor: hasPrevLocation() ? 'white' : 'lightgrey'
        }"
      >
        <i class="fa fa-chevron-left"></i>
        <p>prev dest.</p>
      </div>
      <div
        class="location-control right"
        (click)="nextDestination()"
        [ngStyle]="{
          backgroundColor: hasNextLocation() ? 'white' : 'lightgrey'
        }"
      >
        <p>prev dest.</p>
        <i class="fa fa-chevron-right"></i>
      </div>
    </div>
    <div class="side-information-mobile__content">
      <h2>{{ sidebarLocation.name }}</h2>
      <p>{{ sidebarLocation.desc }}</p>
      <div class="side-information-mobile__images">
        <img src="{{ sidebarLocation.image }}" />
      </div>
    </div>
  </div>
  <i
    class="fa fa-chevron-left sidebar-toggle"
    (click)="toggleSidebar()"
    [ngClass]="sideBarVisibility ? '' : 'open'"
  ></i>
</div>
<!-- <agm-marker
        *ngFor="let location of mapSteps"
        [latitude]="location.geo.latitude"
        [longitude]="location.geo.longitude"
      ></agm-marker> -->
<!-- <agm-polyline [strokeColor]="'#ffffff'" [strokeWeight]="20">
        <agm-polyline-point
          *ngFor="let location of mapSteps"
          [latitude]="location.geo.latitude"
          [longitude]="location.geo.longitude"
        >
        </agm-polyline-point>
      </agm-polyline> -->
