<div class="main page-padding">
  <app-section-header
    title="Our Special Offers"
    desc="Competitive prices"
    extra="ALL Around Lovely Cities"
  >
  </app-section-header>

  <div class="data">
    <app-trip-card
      *ngFor="let item of _ser.getTrips() | async; let i = index"
      [ngClass]="{
        longX: isLongX(i)
      }"
      [id]="item.id"
      [features]="item.features"
      [img]="item.previewImage"
      [name]="item.name"
      [price]="item.price"
      [duration]="item.duration"
    ></app-trip-card>
  </div>
</div>
