<div class="trip-section">
  <app-section-header
    title="Our Special Offers"
    desc="Competitive prices"
    extra="ALL Around Lovely Cities"
  >
  </app-section-header>

  <div class="data page-padding">
    <app-trip-card
      [isSingleTrip]="false"
      [width]="'30rem'"
      [height]="'20rem'"
    ></app-trip-card
    ><app-trip-card
      [isSingleTrip]="false"
      [width]="'30rem'"
      [height]="'20rem'"
    ></app-trip-card
    ><app-trip-card
      [isSingleTrip]="false"
      [width]="'30rem'"
      [height]="'20rem'"
    ></app-trip-card
    ><app-trip-card
      [isSingleTrip]="false"
      [width]="'30rem'"
      [height]="'20rem'"
    ></app-trip-card
    ><app-trip-card
      [isSingleTrip]="false"
      [width]="'30rem'"
      [height]="'20rem'"
    ></app-trip-card
    ><app-trip-card
      [isSingleTrip]="false"
      [width]="'30rem'"
      [height]="'20rem'"
    ></app-trip-card
    ><app-trip-card
      [isSingleTrip]="false"
      [width]="'30rem'"
      [height]="'20rem'"
    ></app-trip-card>
  </div>
</div>
