@import "/src/assets/css/abstract/mixins";
@import "/src/assets/css/abstract/variables";
.data {
  display: grid;
  grid-template-columns: repeat(auto-fill, 40rem);
  height: 100%;
  gap: 1rem;
  justify-content: center;

  .longX {
    grid-column: 1/-1;
  }
  app-trip-card {
    height: 40rem;
  }
}
.main {
  height: 100%;
}
