<app-loader [isLoading]="isLoading">
  <div class="trip-section">
    <app-section-header
      title="Our Special Offers"
      desc="Competitive prices"
      extra="ALL Around Lovely Cities"
    >
    </app-section-header>

    <div class="data page-padding">
      <div *ngFor="let item of _ser.data$ | async">
        <app-trip-card
          [isSingleTrip]="false"
          [width]="'30rem'"
          [height]="'20rem'"
          [trip]="item"
        ></app-trip-card>
      </div>
    </div>
  </div>
</app-loader>
