@import "/src/assets/css/abstract/mixins";
.data {
  display: grid;
  gap: 3rem;
  justify-content: center;
  grid-template-columns: repeat(3, 30rem);

  @include res(tab) {
    grid-template-columns: repeat(2, 30rem);
  }
}
.main {
  height: 100%;
}
