@import "/src/app/css/abstract/variables";
@import "/src/app/css/abstract/mixins";

.main {
  text-align: center;

  .offer-title {
    font-size: 3.7rem;
    font-weight: 500;

    &:lang(ar) {
      font-size: 3rem;
    }
  }
  .desc {
    font-size: 4.7rem;
    color: #252629;
    font-weight: 400;
    font-family: var(--secondary-font);
  }
  .extra {
    font-size: 2.3rem;
    font-weight: 400;
    color: #252629;
  }

  @include respondMax(1250px) {
    .offer-title {
      font-size: 3rem;

      &:lang(ar) {
        font-size: 2rem;
      }
    }
    .desc {
      font-size: 4rem;
    }
    .extra {
      font-size: 1.8rem;
    }
  }
}
