.main {
  text-align: center;
  font-weight: 100;
  line-height: 1;
  .offer-title {
    font-size: 3.1rem;
  }
  .desc {
    font-size: 7rem;
  }
  .extra {
    font-size: 3rem;
    line-height: 1.5;
  }
}
