@import "/src/assets/css/abstract/mixins";
@import "/src/assets/css/abstract/variables";
.main {
  .date {
    max-width: 100%;
    height: 100%;
    @include myCustomCalendarStyle;
    text-align: start;
  }
  input::placeholder {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--primary-font);
    color: grey;
  }
  min-width: 0px;
  max-width: 100%;
  height: 100%;
}
