@import "/src/assets/css/abstract/mixins";
@import "/src/assets/css/abstract/variables";
.main {
  padding: $form-file-padding;

  .date {
    max-width: 100%;
    height: 100%;
    @include myCustomCalendarStyle;
    text-align: start;
  }
  input::placeholder {
    font-size: 1.5rem;
    font-weight: 400;

    font-family: var(--primary-font);
    color: grey;
  }

  .icon {
    font-size: 1.5rem;
    @include res(tab) {
      font-size: 2rem;
    }
  }

  min-width: 0px;
  max-width: 100%;
  height: 100%;
}
