<div
  class="main"
  [ngClass]="{ 'all-border': hasBorder, 'err-border': !!errmsg }"
>
  <mat-form-field color="accent" class="date" appearance="fill">
    <input
      class="input"
      on-focus="onFocus($event)"
      on-focusout="onFocusOut()"
      [formControl]="control"
      [placeholder]="placeholder"
      matInput
      [min]="minDate"
      [readonly]="true"
      (click)="picker.open()"
      [matDatepicker]="picker"
    />
    <mat-datepicker-toggle matPrefix [for]="picker">
      <app-validation-icon
        class="icon"
        matDatepickerToggleIcon
        [icon]="iconsData.phone"
        [isFocused]="isfocused"
        [errors]="errmsg"
        [placeholder]="placeholder"
      ></app-validation-icon>
    </mat-datepicker-toggle>

    <mat-datepicker
      startView="year"
      [startAt]="minDate"
      #picker
    ></mat-datepicker>
  </mat-form-field>
</div>
<p class="validation-text" *ngIf="errmsg">*{{ errmsg }}</p>
