<div class="map-box">
  <agm-map
    #agmMap
    [latitude]="currentLat"
    [longitude]="currentLong"
    [zoom]="zoom"
    [usePanning]="true"
    [restriction]="restriction"
  >
    <agm-polyline
      *ngFor="
        let location of allLocationsSorted | slice: 0:timelines.length;
        let i = index
      "
    >
      <agm-polyline-point
        [latitude]="allLocationsSorted[i].geo.latitude"
        [longitude]="allLocationsSorted[i].geo.longitude"
      >
      </agm-polyline-point>
      <agm-polyline-point
        [latitude]="allLocationsSorted[i + 1].geo.latitude"
        [longitude]="allLocationsSorted[i + 1].geo.longitude"
      >
      </agm-polyline-point>

      <agm-icon-sequence
        [strokeColor]="'#a6a6a6'"
        [repeat]="'20px'"
        [strokeWeight]="10"
        [scale]="2"
        [strokeOpacity]="100"
        [path]="'M 0,-1 0,1'"
      >
      </agm-icon-sequence>
    </agm-polyline>

    <ng-container *ngFor="let timeline of timelines">
      <agm-overlay
        *ngFor="let location of timeline.locations"
        [latitude]="location.geo.latitude"
        [longitude]="location.geo.longitude"
        [bounds]="{
          x: { latitude: -0.003, longitude: -0.0052 },
          y: { latitude: 0.003, longitude: 0.0052 }
        }"
        (markerClick)="
          locationOverlayClicked(location.geo.latitude, location.geo.longitude)
        "
      >
        <!-- blue html square -->
        <div class="location-overlay">
          <img [src]="location.image" />
          <h2>{{ location.name }}</h2>
          <p>{{ location.desc }}</p>
        </div>
      </agm-overlay>
    </ng-container>
  </agm-map>
  <div class="locations-list">
    <app-accordion-list [items]="accordionItems"></app-accordion-list>
  </div>
</div>
<!-- <agm-marker
      *ngFor="let location of mapSteps"
      [latitude]="location.geo.latitude"
      [longitude]="location.geo.longitude"
    ></agm-marker> -->
<!-- <agm-polyline [strokeColor]="'#ffffff'" [strokeWeight]="20">
      <agm-polyline-point
        *ngFor="let location of mapSteps"
        [latitude]="location.geo.latitude"
        [longitude]="location.geo.longitude"
      >
      </agm-polyline-point>
    </agm-polyline> -->
