@import "/src/assets/css/abstract/variables";
@import "/src/assets/css/abstract/mixins";

$trans: all 200ms;
$padding: 0 2rem;
$font-size: 1.5rem;

.carousel {
  z-index: 0;
  position: relative;
  &-info {
    position: absolute;
    padding: 0 $page-padding;

    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 5rem;
    z-index: 1000;
    color: white;
    & > * {
      font-size: inherit;
      text-shadow: 2px 2px #00000081;
    }
  }
}

.flex_area {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  transform: translate(0, -15rem);
  // grid-template-columns: 14rem 14rem 77rem;
  // grid-template-rows: 7rem 20rem 15rem 7rem;
  // grid-auto-rows: min-content;
  column-gap: 2.7rem;
  @include res(phone) {
    flex-direction: column;
    transform: none;
  }
  &-filter-btn {
    display: none;
    @include res(phone) {
      display: grid;
      place-items: center;
      margin: 5rem auto;
      height: 8rem;
      width: 80%;
      @include shadow;
      font-size: 2rem;
      text-align: center;
      cursor: pointer;
    }
  }
  &-filter {
    width: 29rem;
    height: 100%;
    margin-left: auto;
    @include res(phone) {
      display: none;
    }
  }
  &-content {
    margin-right: auto;

    width: 78rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-auto-rows: 25rem;
    gap: 0.1rem;
    .full-width {
      grid-column: 1/-1;
    }
  }
}
