<div class="main">
  <div class="carousel">
    <div class="carousel-info">
      <p class="carousel-info-title">With {{ projectName }}</p>
      <p class="carousel-info-desc">Plan easy, Pay less and experience more</p>
    </div>
    <app-banner-carousel
      [images]="images"
      [screenHeightPercentage]="60"
    ></app-banner-carousel>
  </div>
  <div class="flex_area">
    <button (click)="openFilter()" class="flex_area-filter-btn main-btn">
      Filter
    </button>
    <app-filter-widget
      (onFilterChange)="onFilterChange($event)"
      class="flex_area-filter"
    ></app-filter-widget>
    <section class="flex_area-content">
      <app-trip-card
        *ngFor="let item of data$ | async; let i = index"
        [name]="item.name"
        [duration]="item.duration"
        [price]="item.price"
        [img]="item.previewImage"
        [features]="item.features"
        [ngClass]="{ 'full-width': i == 0 }"
      >
      </app-trip-card>
    </section>
  </div>
</div>
