@import "/src/assets/css/abstract/variables";
@import "/src/assets/css/abstract/mixins";

$trans: all 200ms;
$padding: 0 2rem;
$font-size: 1.5rem;

.carousel {
  z-index: 0;
  position: relative;
  &-info {
    position: absolute;
    padding: 0 $page-padding;
    font-family: var(--secondary-font);
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    pointer-events: none;
    text-align: center;
    font-size: 5rem;
    @include res(phone) {
      font-size: 3rem;
    }
    &-title {
      height: 100%;
      // line-height: 100%;
      background: $accent;
      display: grid;
      place-items: center;
      padding: 1rem;
      margin-bottom: 1rem;
      display: inline-block;
    }
    z-index: 1000;
    color: white;
    & > * {
      font-size: inherit;
      text-shadow: $text-shadow;
      font-family: inherit;
    }
  }
}

.flex_area {
  display: flex;
  flex-direction: row;
  transform: translate(0, -15rem);
  column-gap: 2.7rem;
  position: relative;
  @include res(phone) {
    flex-direction: column;
    transform: none;
  }
  &-filter-btn {
    display: none;
    @include res(phone) {
      display: grid;
      place-items: center;
      margin: 5rem auto;
      height: 8rem;
      width: 80%;
      @include shadow;
      font-size: 2rem;
      text-align: center;
      cursor: pointer;
    }
    p {
      font-size: 2rem;
      font-weight: 600;
      color: white;
      margin: 0;

      &:lang(ar) {
        font-family: var(--secondary-font);
      }
    }
  }
  &-filter {
    width: 29rem;
    height: 50rem;
    top: 20rem;
    left: 0;
    margin-left: auto;
    position: sticky;
    &:lang(ar) {
      margin-right: auto;
      margin-left: unset;
    }
    @include res(phone) {
      display: none;
    }
  }
  &-content {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));

    grid-auto-rows: 30rem;
    gap: 1rem;

    .full-width {
      grid-column: 1/-1;
    }
  }
  .loader {
    margin-right: auto;
    width: 78rem;
    @include res(phone) {
      width: 100%;
      padding: 0 2rem;
    }
    &:lang(ar) {
      margin-right: unset;
      margin-left: auto;
    }
  }
}

// .arabic-layout {
//   .flex_area {
//     &-content {
//       margin-right: unset;
//       margin-left: auto;
//     }
//     &-filter {
//       margin-right: auto;
//       margin-left: unset;
//     }
//   }
// }
