<div class="main">
  <div class="carousel">
    <div class="carousel-info">
      <p
        class="carousel-info-title"
        transloco="offer-page.with"
        [translocoParams]="{ var: projectName | transloco }"
      ></p>
      <p class="carousel-info-desc">{{ "offer-page.desc" | transloco }}</p>
    </div>
    <app-banner-carousel
      [images]="images"
      [screenHeightPercentage]="60"
    ></app-banner-carousel>
  </div>
  <div class="flex_area">
    <button (click)="openFilter()" class="flex_area-filter-btn main-btn">
      {{ "buttons.search" | transloco }}
    </button>
    <app-filter-widget
      [filterOptions]="filterOptions"
      (onFilterChange)="onFilterChange($event)"
      class="flex_area-filter"
    ></app-filter-widget>

    <app-loader
      class="loader"
      [isLoading]="isLoading"
      [viewRef]="content"
      [hasData]="!!data && data.length > 0"
    >
    </app-loader>
  </div>
</div>

<ng-template #content>
  <div class="flex_area-content">
    <app-trip-card
      *ngFor="let item of data; let i = index"
      [name]="item.name"
      [duration]="item.duration"
      [price]="item.priceData"
      [img]="item.previewImage"
      [isOffer]="true"
      [id]="item.id"
    >
    </app-trip-card>
  </div>
</ng-template>
