@import "/src/assets/css/abstract/variables";
@import "/src/assets/css/abstract/mixins";

$trans: all 200ms;
$padding: 0 2rem;
$font-size: 1.5rem;
@mixin divider {
  &::after {
    content: "";
    width: 100%;
    height: 2px;
    background: $non-active;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.carousel {
  z-index: 0;
  position: relative;
  &-info {
    position: absolute;
    padding: 0 $page-padding;

    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 5rem;
    z-index: 1000;
    color: white;
    & > * {
      font-size: inherit;
      text-shadow: 2px 2px #00000081;
    }
  }
}

.flex_area {
  display: flex;
  flex-direction: row;

  // justify-content: center;
  transform: translate(0, -15rem);
  // grid-template-columns: 14rem 14rem 77rem;
  // grid-template-rows: 7rem 20rem 15rem 7rem;
  // grid-auto-rows: min-content;
  column-gap: 2.7rem;
  &_filter {
    @include shadow;
    height: 100%;
    width: 29rem;
    margin-left: auto;
    &-nav {
      height: 7rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      &-item {
        background: $non-active;
        color: black;
        font-size: 1.5rem;
        display: grid;
        place-items: center;
        cursor: pointer;
        transition: $trans;
        text-align: center;
      }
      &-item.active {
        background: white;
        color: black;
      }
    }
    &-guest-count {
      height: 15rem;

      padding: $padding;
      grid-column: span 2;
      background: white;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      position: relative;

      &-item {
        font-size: $font-size;
        display: grid;
        grid-template-columns: 50% 15% 15% 15%;
        & > * {
          font-size: inherit;
        }
        .val {
          justify-self: center;
        }
        .minus {
          justify-self: flex-end;
        }
        .plus {
          justify-self: flex-start;
        }
        .icon {
          background: $accent;
          color: white;
          display: grid;
          place-items: center;
          cursor: pointer;
        }
      }
      @include divider();
    }
    &-price {
      height: 15rem;
      padding: $padding;
      grid-column: span 2;
      position: relative;
      display: grid;
      align-items: center;
      justify-content: center;
      grid-template-columns: 45% 45%;

      gap: 10%;
      @include divider();
      &-title {
        grid-column: span 2;
        grid-row: 1;
        font-size: $font-size;
        align-self: flex-end;
      }
    }
    &-btn {
      height: 7rem;
      padding: $padding;
      grid-column: span 2;
      z-index: 0;
      display: grid;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &-content {
    margin-right: auto;

    width: 78rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-auto-rows: 25rem;
    gap: 0.1rem;
    .full-width {
      grid-column: 1/-1;
    }
  }
}
