<div class="main">
  <div class="offer-video">
    <img src="../../../assets/images/placeholder/istanbul.png" />
  </div>
  <div class="offers-filter">
    <app-offers-filter></app-offers-filter>
  </div>
  <div class="offers-headline">
    <p class="offers-headline__1">A lot of different offers</p>
    <p class="offers-headline__2">Book Now!</p>
  </div>
  <div class="offers-content">
    <app-trip-card [isSingleTrip]="false"></app-trip-card
    ><app-trip-card [isSingleTrip]="false"></app-trip-card
    ><app-trip-card [isSingleTrip]="false"></app-trip-card
    ><app-trip-card [isSingleTrip]="false"></app-trip-card
    ><app-trip-card [isSingleTrip]="false"></app-trip-card
    ><app-trip-card [isSingleTrip]="false"></app-trip-card
    ><app-trip-card [isSingleTrip]="false"></app-trip-card>
  </div>
</div>
