<div class="main">
  <i
    *ngIf="options.hasCar"
    class="fa fa-car"
    [ngClass]="{ isWhite: !isBlack, isBlack: isBlack, extraBig: isBig }"
  >
  </i>
  <i
    *ngIf="options.hasAirport"
    class="fa fa-plane"
    [ngClass]="{ isWhite: !isBlack, isBlack: isBlack, extraBig: isBig }"
  >
  </i>
  <i
    *ngIf="options.hasBreakfast"
    class="fa fa-coffee"
    [ngClass]="{ isWhite: !isBlack, isBlack: isBlack, extraBig: isBig }"
  >
  </i>
  <i
    *ngIf="options.hasHotel"
    class="fa fa-hotel"
    [ngClass]="{ isWhite: !isBlack, isBlack: isBlack, extraBig: isBig }"
  >
  </i>
</div>
