@import "/src/app/css/abstract/variables";
.read-stars {
  display: flex;

  i {
    font-size: 2rem;

    &:lang(ar) {
      transform: rotateY(180deg);
    }
  }

  i.isBig {
    font-size: 3rem;
  }
}
.black {
  color: $black;
}
.accent {
  color: $accent;
}
