@import "/src/assets/css/abstract/variables";
.read-stars
{
    display: flex;

    i 
    {
        font-size: 2rem;
       
    }
    .fa-star-half-o
    {
        color: $accent;
    }
    .fa-star
    {
        color: $accent;
    }
    .fa-star-o
    {
        color: $accent;
    }
}