.h-listview {
  width: 100%;
  height: 100%;

  .slider {
    width: 100%;
    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      pointer-events: none;
      background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1) 90%
      );
      width: 25%;
      height: 100%;
    }
    &:lang(ar) {
      &::after {
        right: unset;
        left: 0px;
        background-image: linear-gradient(
          to left,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 1) 90%
        );
      }
    }
    .slide {
      border-radius: 15px;
      overflow: hidden;
      img {
      }
    }
  }
}
