@mixin myCustomCalendarStyle {
  ::ng-deep .mat-form-field-wrapper {
    font-size: 1.5rem;
    background-color: white;
    color: grey;
    height: 100%;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    ::ng-deep .mat-focus-indicator.mat-icon-button.mat-button-base {
      justify-content: flex-start;
    }
    .mat-form-field-flex {
      background-color: white;
      display: flex;
      align-items: center;
      padding: 0;
    }
    .mat-form-field-infix {
      padding-top: 0;
    }
    .mat-input-element {
      height: 100%;
    }
    // ::ng-deep mat-datepicker-toggle {
    //   font-size: 1.5rem;
    //   @include res(phone) {
    //     font-size: 5rem;
    //   }
    // }
  }
  ::ng-deep .mat-form-field-underline {
    display: none;
  }
}

@mixin angularMatInputStyle {
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0.75em 0 0 0;
  }

  ::ng-deep .mat-select-arrow {
    color: $icon-color;
  }
  ::ng-deep .mat-form-field {
    width: 100%;
  }

  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline,
  .mat-form-field-label {
    display: none;
  }

  ::ng-deep .mat-form-field-should-float .mat-form-field-label {
    display: none !important;
  }

  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background: transparent;
    display: flex;
    color: grey;
    align-items: center;
  }
  // ::ng-deep .mat-select-trigger {
  // }

  ::ng-deep .mat-select-arrow-wrapper {
    transform: none;
  }
  ::ng-deep .mat-select-value-text {
    transform: none;
    text-align: center;
    padding: 0;
  }
  ::ng-deep .mat-form-field-infix {
    padding: 0;
  }
  ::ng-deep .mat-select-placeholder {
    padding: 0;
    // line-height: 1;
  }
  // ::ng-deep .mat-form-field-label-wrapper .mat-form-field-label {
  //   top: 20px !important;
  //   margin-top: -0.5em;
  //   // line-height: 1;
  // }
}
