@import "~@angular/material/theming";
@include mat-core();

$md-myprimary: (
  50: #e5e5e5,
  100: #bebebf,
  200: #929394,
  300: #666769,
  400: #464749,
  500: #252629,
  600: #212224,
  700: #1b1c1f,
  800: #161719,
  900: #0d0d0f,
  A100: #6767ee,
  A200: #3a3ae9,
  A400: #0000ef,
  A700: #0000d5,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
$md-myaccent: (
  50: #e4f5fa,
  100: #bce7f2,
  200: #90d7ea,
  300: #63c6e2,
  400: #41badb,
  500: #20aed5,
  600: #1ca7d0,
  700: #189dca,
  800: #1394c4,
  900: #0b84ba,
  A100: #e6f7ff,
  A200: #b3e5ff,
  A400: #80d4ff,
  A700: #67cbff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$md-mywarn: (
  50: #ffe0e0,
  100: #ffb3b3,
  200: #ff8080,
  300: #ff4d4d,
  400: #ff2626,
  500: #ff0000,
  600: #ff0000,
  700: #ff0000,
  800: #ff0000,
  900: #ff0000,
  A100: #ffffff,
  A200: #fff2f2,
  A400: #ffbfbf,
  A700: #ffa6a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$my-app-primary: mat-palette($md-myprimary);
$my-app-accent: mat-palette($md-myaccent);
$my-app-warn: mat-palette($md-mywarn);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
