@mixin yellowTextMixin($size) {
  background-color: $accent;
  color: $black;
  font-size: $size;
  display: inline-block;
  font-weight: 700;
  line-height: 1.1;
  margin: 1rem 0;
  padding: 0 1rem;
}
$field-border-var: grey 1px solid;
@mixin field-border {
  border: $field-border-var;
  // @include res(tab-land-extra) {
  //   border-right: $field-border-var;
  //   border-bottom: $field-border-var;
  // }
  // @include res(phone) {
  //   border-right: none;
  //   border-bottom: $field-border-var;
  // }
}
@mixin myCustomCalendarStyle {
  ::ng-deep .mat-form-field-wrapper {
    font-size: 1.5rem;
    background-color: white;
    color: grey;
    height: 100%;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    @include field-border;

    .mat-form-field-flex {
      background-color: white;
      display: flex;
      align-items: center;
    }

    .mat-input-element {
      height: 100%;
    }
    ::ng-deep mat-datepicker-toggle {
      font-size: 1.5rem;
    }
  }
  ::ng-deep .mat-form-field-underline {
    display: none;
  }
}

@mixin angularMatInputStyle {
  @include field-border;

  mat-icon {
    margin: 0 1rem 0 0;
    order: 0;
  }

  ::ng-deep .mat-form-field {
    width: 100%;
  }

  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline,
  .mat-form-field-label {
    display: none;
  }

  ::ng-deep .mat-form-field-should-float .mat-form-field-label {
    display: none !important;
  }

  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background: transparent;
    display: flex;
    color: grey;
    align-items: center;
  }
  // ::ng-deep .mat-select-trigger {
  // }

  ::ng-deep .mat-select-arrow-wrapper {
    transform: none;
  }
  ::ng-deep .mat-select-value-text {
    transform: none;
    text-align: center;
    padding: 0;
  }
  ::ng-deep .mat-form-field-infix {
    padding: 0;
  }
  ::ng-deep .mat-select-placeholder {
    padding: 0;
    line-height: 1;
  }
}
@mixin shadow($color: black) {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

@mixin textPref() {
  width: clamp(45ch, 50%, 75ch);
}
///
@mixin res($break) {
  @if $break == phone {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  }

  @if $break == tab-small {
    @media (max-width: 50em) {
      //800px
      @content;
    }
  }
  @if $break == tab {
    @media (max-width: 56.25em) {
      //900px
      @content;
    }
  }

  @if $break == med {
    @media (max-width: 70.2em) {
      //1120px
      @content;
    }
  }
  @if $break == tab-land {
    @media (max-width: 75em) {
      //1200px
      @content;
    }
  }
  @if $break == tab-land-extra {
    @media (max-width: 81.25em) {
      //1200px
      @content;
    }
  }
  @if $break == desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin clickScaleEffect($scaleTo: 0.95) {
  &:active {
    transform: scale($scaleTo);
  }
}
@mixin imageOverlay($opacity) {
  &::after {
    content: "\A";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, $opacity);
    opacity: 1;
    transition: all 1s;
    -webkit-transition: all 1s;
  }
}
@mixin changeSvgImageToPrimary {
  filter: invert(47%) sepia(76%) saturate(498%) hue-rotate(146deg)
    brightness(106%) contrast(88%);
}
@mixin respondMax($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}
@mixin respondMin($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}
