$montserrat-font: "Montserrat", sans-serif;
$righteous-font: "Righteous";
$montserrat-font: "Roboto", sans-serif;
$main-font: "Source Sans Pro", sans-serif;
$segoe: "Segoe Script Regular";

$primary: #252629;
$accent: #20aed5;
$grey: #7e7e7e;
$grey-light: #707070;
$light-blue: #ebf3fa;
$white: white;
$err: red;

$light-black: #252629;
$light-blue: #ebf3fa;
$login-bk: #20aed5;

$black: black;
$font-color: $primary;

$border-radius: 0;
$page-padding: 20rem;

.grey {
  color: $grey;
}
