@font-face {
  font-family: "Segoe Script Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe Script Regular"),
    url("/assets/fonts/Segoe.woff") format("woff");
}
$primary: #252629;
$accent: #20aed5;
$grey: #7e7e7e;
$light-blue: #ebf3fa;
$white: white;

$light-black: #252629;
$light-blue: #ebf3fa;

// $card-1: #025e73;
// $card-2: #768591;
// $card-3: #f2c879;
// $card-4: #f96467;
// $card-5: #a1b67e;
// $card-6: #92a1d1;

// $grey: #707070;
$black: black;
$font-color: $primary;

$montserrat-font: "Montserrat", sans-serif;
$righteous-font: "Righteous", cursive;
$montserrat-font: "Roboto", sans-serif;
$main-font: "Source Sans Pro", sans-serif;
$segoe: "Segoe Script Regular";

$border-radius: 0rem;
