$segoe: "Segoe Script Regular";

$primary: #252629;
$accent: #20aed5;
$grey: #7e7e7e;
$grey-light: #c5c5c5;
$light-blue: #ebf3fa;
$white: white;
$err: #f33950;

$icon-color: #c5c5c5;

$main-content-width: 111rem;

$light-black: #252629;
$light-blue: #ebf3fa;
$login-bk: #20aed5;
$non-active: #f6f7fa;
$dividerColor: #c8c8c8;
$success: #75d00f;
// $card-1: #025e73;
// $card-2: #768591;
// $card-3: #f2c879;
// $card-4: #f96467;
// $card-5: #a1b67e;
// $card-6: #92a1d1;
$border-color: #c5c5c5;
$field-border-var: #c5c5c5 solid 1px;
$field-border-error: red solid 1px;
$black: black;
$font-color: $primary;
$field-border-var: #c5c5c5 solid 1px;

$border-radius: 0;
$page-padding: 20rem;
$form-file-padding: 0 1rem;

$subtleShadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
$liteShadow: 0px 1.5px 7.5px rgba(0, 0, 0, 0.2);
.grey {
  color: $grey;
}
