@import "/src/assets/css/abstract/variables";
@import "/src/assets/css/abstract/mixins";
$transition: 0.5s all;
$header-padding: 0 5%;
@mixin active {
  // width: 100%;
  // border-bottom: grey 1px solid;
  // align-self: flex-start;
  color: $accent;
  transition: $transition;

  &::after {
    position: absolute;
    transition: $transition;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    height: 1px;
    background: $accent;
  }
}

@mixin center {
  display: grid;
  place-items: center;
}

.main {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  padding: 0 $page-padding;
}
.header {
  color: $accent;
  display: flex;
  align-items: center;
  padding: $header-padding;
  font-size: 5rem;
}
.center {
  padding: $header-padding;
  color: black;
  overflow: scroll;
}
.wrapper {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 20% 80%;
  border-radius: $border-radius;
  font-size: 2.5rem;
  font-weight: 700;
  .nav-bar {
    grid-row: span 2;
    // background-color: $accent;
    text-align: center;
    display: flex;
    row-gap: 5rem;
    flex-direction: column;
    justify-content: space-evenly;
    &_title {
      margin-bottom: 3rem;
    }

    &_col {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      flex: 1;
    }
    .col1 {
      flex: 3;
    }
    .col2 {
      flex: 2;
      justify-content: space-evenly;
    }
    &_image {
      @include center();
      overflow: hidden;
      border-radius: 50rem;
      padding: 0.1rem;
      border: $grey-light 0.2rem solid;
      height: 10vw;
      width: 10vw;

      img {
        width: 100%;
        scale: 1.2;
        border-radius: 50rem;
      }
    }
    &_btn-delete {
      width: 60% !important;
    }
    &_title {
      font-size: 2rem;
    }
    &_nav-item {
      height: 7vh;
      @include center();
      position: relative;

      padding: 0;
      cursor: pointer;
      &::after {
        position: absolute;
        content: "";
        width: 0%;
        bottom: 0;
        left: 0;
        height: 1px;
        background: $accent;
      }
      &:hover {
        @include active();
      }
    }
    .active {
      @include active();
    }
  }
}
