<app-loader [isLoading]="isLoading">
  <div *ngIf="!isLoading" class="main">
    <div class="img">
      <img [src]="trip.previewImage | serverimage" alt="" />
    </div>
    <div class="info">
      <h1 class="info_title">{{ trip.cityObj?.name }}</h1>
      <app-read-only-stars
        class="info_rating"
        [stars]="5"
        [isBlack]="true"
        [isBig]="true"
      ></app-read-only-stars>
      <app-trip-extra class="info_extra" [isBig]="true"></app-trip-extra>
      <h3 class="info_duration">{{ trip.duration }} days</h3>
      <h3 class="info_price">{{ trip.price }} {{ trip.currency }}</h3>
    </div>

    <form class="form page-padding" [formGroup]="form">
      <h1 class="form_title">Guest details</h1>
      <h5 class="form_desc">
        Never let your memories be greater than your dreams
      </h5>
      <div class="form_grid">
        <app-profileinput
          placeholder="Full Name"
          formControlName="fullName"
          [icon]="icns.profile"
        ></app-profileinput>
        <app-profileinput
          placeholder="Email"
          [icon]="icns.mail"
          formControlName="email"
        ></app-profileinput>
        <app-profileinput
          placeholder="Phone Number"
          [icon]="icns.phone"
          formControlName="phoneNumber"
        ></app-profileinput>
        <app-profileinput
          placeholder="DD-MM-YY"
          [icon]="icns.calendar"
          formControlName="startDate"
        ></app-profileinput>
        <app-profileinput
          placeholder="Number of tickets"
          [icon]="icns.ticket"
          formControlName="ticketCount"
          [isNumeric]="true"
        ></app-profileinput>
        <app-profileinput
          placeholder="Message"
          [icon]="icns.ticket"
          formControlName="message"
        ></app-profileinput>

        <button (click)="saveData()" class="btn-inverse button">
          Book Now
        </button>
        <input
          #imgInput
          hidden="true"
          type="file"
          (change)="onSelectFile($event)"
          accept="image/*"
        />

        <button
          (click)="imgInput.click()"
          type="file"
          class="btn-inverse button botton2"
        >
          Upload The Ticket
        </button>
      </div>
    </form>

    <div class="other">
      <h1>Related Trips</h1>
      GRID OF TRIPS
    </div>
  </div>
</app-loader>
