@import "/src/app/css/abstract/mixins";
@mixin column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
form {
  height: 100%;
}
.main {
  display: grid;
  grid-template-columns: 50% 40%;
  gap: 10%;
  height: 100%;
  .img {
    order: 1;
    display: grid;
    place-items: center;
    height: 70%;
    img {
      width: 100%;
    }
    @include res(tab) {
      display: none;
    }
  }
  @include res(tab) {
    grid-template-columns: 100%;
  }
  .controls {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
    .main-btn {
      align-self: center;
    }
  }
}
