@mixin column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
form {
  height: 100%;
}
.main {
  display: grid;
  grid-template-columns: 60% 35%;

  .img {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 80%;
    }
  }

  .controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    .btn {
      justify-self: center;
      height: 5rem;
      align-self: center;
      margin-top: 4rem;
    }
  }
}
