<form [formGroup]="form">
  <div class="main">
    <div class="img">
      <img src="assets/images/bk/profile.png" alt="" />
    </div>
    <div class="controls">
      <app-profileinput
        placeholder="Old Password"
        formControlName="oldPass"
        [icon]="icons.pass"
      ></app-profileinput>
      <app-profileinput
        formControlName="newPass"
        placeholder="New Password"
        [icon]="icons.pass"
      ></app-profileinput>
      <app-profileinput
        formControlName="confirmNewPass"
        placeholder="New Password Again"
        [icon]="icons.pass"
      ></app-profileinput>

      <button class="main-btn" (click)="onSubmit()">Change password</button>
    </div>
  </div>
</form>
