@import "/src/app/css/abstract/variables";
@import "/src/app/css/abstract/mixins";
.main {
  height: 100%;
  width: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2rem;

  .icon {
    height: 10rem;
    width: 100%;
    font-size: 10rem;
    text-align: center;
    color: $err;
  }
  .desc {
    text-align: center;
    font-size: inherit;
  }
  .row {
    display: flex;
    width: 100%;
    align-self: flex-end;
    justify-content: space-evenly;

    .main-btn {
      height: 100%;
      width: 45%;
      cursor: pointer;
      padding: 1rem auto;
      // background: $success;
      display: grid;
      align-items: center;
      // @include shadow;
      // color: white;
      font-weight: 800;
      font-size: 1.5rem;
      border: 2px solid $accent;
    }
    .home {
      background: white;
      color: $accent;
    }
    // .navlink.err {
    //   background: $err;
    // }
  }
}
