<div class="main">
  <div class="filter">
    <div class="filter__item">
      <ng-select
        [items]="cities"
        [(ngModel)]="selectedCity"
        bindLabel="name"
        bindValue="name"
        [clearable]="false"
      >
        <ng-template ng-label-tmp let-item="item">
          {{ item.name }}
        </ng-template>
      </ng-select>
    </div>
    <div class="filter__item">
      <div class="price-range">
        <input
          type="text"
          oninput="this.value=this.value.replace(/[^0-9]/g,'').replace(/\B(?=(\d{3})+(?!\d))/g, ',');"
          maxlength="4"
          placeholder="min"
          step="100"
        />
        <div class="price-range__divider"></div>
        <input
          type="text"
          oninput="this.value=this.value.replace(/[^0-9]/g,'').replace(/\B(?=(\d{3})+(?!\d))/g, ',');"
          maxlength="4"
          placeholder="max"
          step="1"
        />
      </div>
    </div>
    <div class="filter__item">
      <ng-select
        [items]="tavelTypes"
        [(ngModel)]="selectedType"
        bindLabel="name"
        bindValue="name"
        [clearable]="false"
      >
        <ng-template ng-label-tmp let-item="item">
          {{ item.name }}
        </ng-template>
      </ng-select>
    </div>
    <div class="filter__search">Search</div>
  </div>
</div>
