<div class="main">
  <div class="filter">
    <div class="filter__item">
      <select name="city" id="city">
        <option value="istanbul">Istanbul</option>
        <option value="bursa">Bursa</option>
        <option value="ankara">Ankara</option>
        <option value="antalya">Antalya</option>
      </select>
    </div>
    <div class="filter__item">
      <div class="price-range">
        <input type="number" placeholder="min" />
        <span>-</span>
        <input type="number" placeholder="max" />
      </div>
    </div>
    <div class="filter__item">
      <select name="type" id="type">
        <option value="tourism">Tourism</option>

        <option value="medical">Medical</option>
      </select>
    </div>
    <div class="filter__search">Search</div>
  </div>
</div>
