<div class="main">
  <div class="filter">
    <div class="filter__item">
      <ng-select
        [items]="cities"
        [(ngModel)]="selectedCity"
        bindLabel="name"
        bindValue="name"
        [clearable]="false"
      >
        <ng-template ng-label-tmp let-item="item">
          {{ item.name }}
        </ng-template>
      </ng-select>
    </div>
    <div class="filter__item hp2">
      <div class="price-range">
        <input type="number" placeholder="min" />
        <span>-</span>
        <input type="number" placeholder="max" />
      </div>
    </div>
    <div class="filter__item">
      <ng-select
        [items]="tavelTypes"
        [(ngModel)]="selectedType"
        bindLabel="name"
        bindValue="name"
        [clearable]="false"
      >
        <ng-template ng-label-tmp let-item="item">
          {{ item.name }}
        </ng-template>
      </ng-select>
    </div>
    <div class="filter__search">Search</div>
  </div>
</div>
