<div class="booking-popup">
  <div class="dialog-animation">
    <ng-lottie [options]="options"></ng-lottie>
  </div>
  <div class="result-title" *ngIf="data.success; else errorTitle">
    <h2>{{ "booking.formSubmittedTitle" | transloco }}</h2>
  </div>
  <ng-template #errorTitle
    ><div class="result-title">
      <h2>{{ "general.oops" | transloco }}</h2>
    </div></ng-template
  >
  <div class="result-description" *ngIf="data.success; else errorDescription">
    <p>
      {{ "booking.formSubmittedDescription" | transloco }}
    </p>
  </div>
  <ng-template #errorDescription>
    <div class="result-description">
      <p>
        {{ "booking.error" | transloco }}
      </p>
      <div class="contact-methods">
        <i class="fa fa-envelope"></i>
        <i class="fa fa-whatsapp"></i>
        <i class="fa fa-phone"></i>
      </div>
    </div>
  </ng-template>
  <button mat-button class="dismiss-button" (click)="onNoClick()">OK</button>
</div>
