<div class="single-card" (click)="goToOffer()">
  <app-saferni-image
    class="single-card_img"
    [imageModel]="img!"
    [overlayType]="'gradient'"
  ></app-saferni-image>
  <div *ngIf="!isOffer" class="empty"></div>
  <div *ngIf="isOffer" class="single-card_data">
    <div class="single-card_data_item">
      <div class="pill">
        <mat-icon class="icon price">{{ icons.price }}</mat-icon>
        <p class="text">{{ price | price }}</p>
      </div>
    </div>
    <div class="single-card_data_item">
      <div class="pill">
        <mat-icon class="icon">{{ icons.calendar }}</mat-icon>
        <p
          class="text"
          transloco="general.duration"
          [translocoParams]="{ days: duration }"
        ></p>
      </div>
    </div>
    <div class="single-card_data_item">
      <div class="pill">
        <mat-icon class="icon">{{ icons.profile }}</mat-icon>
        <p
          class="text"
          transloco="general.peopleCount"
          [translocoParams]="{ count: '1-7' }"
        ></p>
      </div>
    </div>
  </div>
  <div
    class="single-card_title"
    [ngStyle]="{
      fontSize: isOffer ? '180%' : '4rem',
      lineHeight: isOffer ? 'unset' : 1
    }"
  >
    {{ name }}
  </div>
</div>
