@import "/src/app/css/abstract/variables";
@import "/src/app/css/abstract/mixins";

$padding: 1.8rem 1rem;

.single-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: relative;
  color: white;

  * {
    z-index: 1;
  }
  &_title {
    padding: $padding;
    font-size: 180%;
    font-family: var(--secondary-font);
    text-transform: uppercase;
    text-shadow: $text-shadow;
  }
  &_data {
    padding: $padding;
    font-family: var(--primary-font);

    font-size: 1.5rem;
    color: black;

    &_item {
      vertical-align: 5px;
      max-height: 3rem;
      background-color: white;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      @include shadow();
      display: inline-block;

      margin: 0 0.5rem 0 0;
      &:lang(ar) {
        margin: 0 0 0 0.5rem;
      }

      .pill {
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          display: flex;
          align-items: center;
          font-size: 2rem;
          width: 1.5rem;
          color: $accent;
          height: 100%;

          margin-right: 0.75rem;

          &:lang(ar) {
            margin-right: unset;
            margin-left: 0.75rem;
          }
        }

        .text {
          font-size: inherit;
          color: inherit;
          white-space: nowrap;
          text-align: center;
          margin: 0px;
        }
      }
    }
  }
  &_img {
    padding: 0;
    margin: 0;
    border-radius: $border-radius;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease-out;
    border-radius: $border-radius;
    top: 0;
    position: absolute;
    z-index: 0;
  }
}
