.main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 2rem;

  p {
    font-size: inherit;
  }
  mat-icon {
    margin: 0 1.1rem;
    color: white;
  }
}
