$border: 5rem;
.section-design {
  background-color: $primary;
  border-radius: 0 0 $border $border;
  width: 100%;
  box-shadow: 1rem 1rem 2.4rem #00000013;
}
.inverted {
  border-radius: $border $border 0 0;
}

.page-padding {
  padding: 0 $page-padding;
  @include res(med) {
    padding: 0rem 10rem;
  }
  @include res(tab) {
    padding: 0rem 5rem;
  }
}
.page-margin {
  margin: 0 $page-padding;
}

.page-padding-small {
  padding: 0 ($page-padding/2);
}

.trip-section {
  height: 100%;
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  justify-content: space-between;
}
.data {
  margin: 5rem 0 10rem 0;
}
