@import "/src/app/css/abstract/variables";

.main {
  display: flex;
  align-items: flex-end;
}
mat-icon.focused {
  color: $accent;
}
mat-icon {
  color: $icon-color;
}
mat-icon.error {
  color: $err;
}

::ng-deep #content {
  padding: 10rem;
}
