<div
  class="banner-carousel"
  [ngStyle]="{
    minHeight: screenHeightPercentage + 'vh',
    height: screenHeightPercentage + 'vh'
  }"
>
  <swiper
    #swiper
    class="swiper-container"
    [slidesPerView]="1"
    class="slide"
    [spaceBetween]="0"
    [autoplay]="true"
    [loop]="true"
    [navigation]="true"
    (indexChange)="indexChanged($event)"
  >
    <ng-template swiperSlide class="slide" *ngFor="let image of images">
      <!-- <img
        src="{{ image }}"
        [ngStyle]="{
          minHeight: screenHeightPercentage + 'vh',
          height: screenHeightPercentage + 'vh'
        }"
        style="width: 100%; object-fit: cover"
      /> -->
      <div class="" [ngStyle]="{ height: screenHeightPercentage + 'vh' }">
        <app-saferni-image [url]="image" [overlayOpacity]="overlayOpacity">
        </app-saferni-image>
      </div>
    </ng-template>
  </swiper>
  <div class="swiper-arrow left" (click)="swipe(false)">
    <i class="fa fa-chevron-left"></i>
  </div>
  <div class="swiper-arrow right" (click)="swipe(true)">
    <i class="fa fa-chevron-right"></i>
  </div>

  <!-- <div class="cetnered-text" *ngIf="centeredTexts">
    <p>{{ centeredTexts[index] }}</p>
  </div> -->
</div>
