@import "/src/assets/css/abstract/mixins";
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  &:lang(ar) {
    margin-right: unset;
    margin-left: 2rem;
  }
  img {
    margin-right: 0.5rem;
    padding: 0.2rem;
    height: 2rem;
    width: 2rem;
    @include changeSvgImageToPrimary;

    &:lang(ar) {
      margin-right: 0rem;
      margin-left: 0.5rem;
    }
  }

  p {
    margin: 0;
  }
}
