@import "/src/assets/css/abstract/mixins";
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem 0 0;

  img {
    margin: 0 0.5rem 0 0;
    padding: 0.2rem;
    height: 2rem;
    width: 2rem;
    @include changeSvgImageToPrimary;
  }

  p {
    margin: 0;
  }
}
