<div class="main">
  <!-- <app-ticket-counter
    [formControl]="ctrl"
    [prefix]="'inputs.ticket.child' | transloco"
  ></app-ticket-counter>
  <app-ticket-counter
    [formControl]="ctrl"
    [prefix]="'inputs.ticket.adult' | transloco"
  ></app-ticket-counter>
  <app-custom-input [formControl]="ctrl"></app-custom-input> -->
  <app-header-info></app-header-info>
  <app-header-tool-bar></app-header-tool-bar>
  <router-outlet class="outlet"></router-outlet>
  <app-footer></app-footer>
  <app-splash></app-splash>
</div>
