<div
  class="main"
  [ngStyle]="{ padding: '0 ' + padding + 'rem' }"
  [ngClass]="{ 'all-border': hasBorder, 'err-border': !!errmsg }"
>
  <input
    on-focus="onFocus($event)"
    on-focusout="onFocusOut()"
    [formControl]="control"
    [type]="isNumber ? 'number' : 'text'"
    [placeholder]="placeholder"
    #input
  />
  <p *ngIf="isControlRequired" class="required-symbol">*</p>
  <app-validation-icon
    [hidden]="hideIcon"
    [icon]="icon"
    [isFocused]="isfocused"
    [errors]="errmsg"
    [placeholder]="placeholder"
  ></app-validation-icon>
</div>
<p class="validation-text" *ngIf="errmsg">*{{ errmsg }}</p>
