@import "/src/app/css/abstract/variables";
.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  .splash-screen__content {
    background-color: rgba($color: $accent, $alpha: 1);
    clip-path: circle();
    z-index: 99999;
    height: 40rem;
    width: 40rem;
  }
}
.noData {
  height: 100%;
  width: 100%;
  background: white;
  display: grid;
  place-items: center;
  font-size: 5rem;
}
