<div *ngIf="isLoading && !loadingRef" class="main">
  <!-- <div class="main"> -->
  <div class="splash-screen__content">
    <ng-lottie
      [options]="options | async"
      (animationCreated)="animationCreated($event)"
      (loopComplete)="onLoopComplete($event)"
    ></ng-lottie>
  </div>
</div>
<template *ngIf="!isLoading" [ngTemplateOutlet]="viewRef"> </template>
<template *ngIf="isLoading && loadingRef" [ngTemplateOutlet]="loadingRef">
</template>
<template
  *ngIf="!isLoading && !hasData && noContentRef"
  [ngTemplateOutlet]="noContentRef"
>
</template>
<app-nocontent *ngIf="!isLoading && !hasData && !noContentRef"> </app-nocontent>
