@import "/src/assets/css/abstract/variables";
@import "/src/assets/css/abstract/mixins";
$trans: all 200ms;
$padding: 0 2rem;
$font-size: 1.5rem;

.flex_area_filter {
  text-align: start;

  @include shadow;
  height: 50rem;
  width: 100%;
  font-family: var(--secondary-font);
  &-nav {
    height: 7rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &-item {
      background: $non-active;
      color: black;
      font-size: 1.5rem;
      display: grid;
      place-items: center;
      cursor: pointer;
      transition: $trans;
      text-align: center;
      font-weight: 800;
    }
    &-item.active {
      background: white;
      color: black;
    }
  }
  &-guest-count {
    font-weight: 800;

    height: 15rem;
    font-size: 1.5rem;
    padding: $padding;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;

    &-item {
      font-size: $font-size;
      display: grid;
      grid-template-columns: 55% 15% 15% 15%;
      & > * {
        font-size: inherit;
        margin-bottom: 0;
      }
      .val {
        justify-self: center;
      }
      .minus {
        justify-self: flex-end;
      }
      .plus {
        justify-self: flex-start;
      }
      .icon {
        align-self: center;
        background: $accent;
        color: white;
        display: grid;
        place-items: center;
        cursor: pointer;
        height: 1.5rem;
        width: 1.5rem;
        font-size: 1.3rem;
      }
    }
    @include divider();
  }
  &-price {
    font-weight: 800;

    height: 10rem;
    position: relative;
    display: grid;
    padding: $padding;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1rem 1fr;
    gap: 1%;
    @include divider();

    .control {
      border: 1px grey solid;
      height: 2.7rem;
      @include res(phone) {
        height: 3.7rem;
      }
    }
    &-title {
      grid-column: span 3;
      grid-row: 1;
      font-size: $font-size;
      align-self: flex-end;
    }
    .dash {
      display: grid;
      font-size: 1.6rem;
      place-items: center;
    }
  }
  &-btn {
    padding: $padding;
    margin-top: 5rem;
    z-index: 0;
    display: grid;
    justify-content: flex-start;
    align-items: center;
    * {
      font-family: inherit;
      height: 3rem;
      width: 8rem;
      font-weight: 800;
      font-size: 1.7rem;
    }
  }
}
