<form [formGroup]="form" class="flex_area_filter">
  <!-- <section class="flex_area_filter-nav">
    <div
      class="flex_area_filter-nav-item"
      [ngClass]="{ active: filterOptions.tripType == trType.Touristic }"
      (click)="changeType(trType.Touristic)"
    >
      {{ "buttons.tours" | transloco }}
    </div>
    <div
      class="flex_area_filter-nav-item"
      [ngClass]="{ active: filterOptions.tripType == trType.Medical }"
      (click)="changeType(trType.Medical)"
    >
      {{ "buttons.medic" | transloco }}
    </div>
  </section> -->
  <section class="flex_area_filter-city section filter">
    <p class="flex_area_filter-city-title title">
      {{ "buttons.city" | transloco }}
    </p>
    <mat-radio-group class="radio-group">
      <mat-checkbox
        (change)="setCity($event.checked, city.id)"
        *ngFor="let city of cities"
        class="radio"
        [checked]="isCityChecked(city.id)"
        >{{ city.name }}
      </mat-checkbox>
    </mat-radio-group>
  </section>

  <section class="flex_area_filter-travel-type section filter">
    <p class="flex_area_filter-travel-type-title title">
      {{ "travelType.placeholder" | transloco }}
    </p>
    <mat-radio-group class="radio-group" formControlName="travelType">
      <mat-radio-button class="radio" [value]="tr.Private">{{
        "travelType." + tr.Private | transloco
      }}</mat-radio-button>
      <mat-radio-button class="radio" [value]="tr.Public">{{
        "travelType." + tr.Public | transloco
      }}</mat-radio-button>
    </mat-radio-group>
  </section>
  <section class="flex_area_filter-hotel section filter">
    <p class="flex_area_filter-hotel-title title">
      {{ "otherFilterOptions.placeholder" | transloco }}
    </p>
    <mat-radio-group class="radio-group">
      <mat-checkbox class="radio" formControlName="hotel"
        >{{ "otherFilterOptions.hotel" | transloco }}
      </mat-checkbox>
      <mat-checkbox class="radio" formControlName="hasDiscount"
        >{{ "otherFilterOptions.discount" | transloco }}
      </mat-checkbox>
    </mat-radio-group>
  </section>

  <div class="flex_area_filter-price section filter">
    <p class="flex_area_filter-price-title title">
      {{ "various.price" | transloco }}
    </p>
    <app-custom-input
      [placeholder]="'various.min' | transloco"
      class="control"
      [hideIcon]="true"
      [isNumber]="true"
      [hasBorder]="true"
      formControlName="minPrice"
    ></app-custom-input>
    <p class="dash">-</p>
    <app-custom-input
      class="control"
      [placeholder]="'various.max' | transloco"
      [hideIcon]="true"
      [isNumber]="true"
      [hasBorder]="true"
      formControlName="maxPrice"
    ></app-custom-input>
  </div>
  <section class="flex_area_filter-btn section">
    <button (click)="applyChanges()" class="main-btn">
      {{ "buttons.apply" | transloco }}
    </button>
  </section>
</form>
