@import "/src/assets/css/abstract/variables";
@import "/src/assets/css/abstract/mixins";
$trans: all 200ms;
$padding: 2rem 2rem;
$font-size: 1.5rem;

.flex_area_filter {
  text-align: start;
  @include shadow;
  // height: 50rem;
  width: 100%;
  font-family: var(--primary-font);
  font-size: $font-size;
  &-nav {
    height: 7rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &-item {
      background: $non-active;
      color: black;
      font-size: 1.5rem;
      display: grid;
      place-items: center;
      cursor: pointer;
      transition: $trans;
      text-align: center;
      font-weight: 800;
    }
    &-item.active {
      background: white;
      color: black;
    }
  }
  &-city,
  &-hotel,
  &-travel-type {
    .radio-group {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
    }
  }
  &-city {
    .radio-group {
      max-height: 20rem;
      overflow-y: scroll;
    }
  }
  // &-travel-type {
  //   .radio-group {
  //     display: flex;
  //     flex-direction: column;
  //   }
  //   .radio:not(:last-of-type) {
  //     margin-bottom: 2rem;
  //   }
  //   @include divider();
  // }
  &-price {
    // height: 10rem;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1rem 1fr;
    gap: 1%;

    .control {
      height: 2.7rem;
      @include res(phone) {
        height: 3.7rem;
      }
    }
    &-title {
      grid-column: span 3;
      grid-row: 1;
      align-self: flex-end;
    }
    .dash {
      display: grid;
      font-size: 1.6rem;
      place-items: center;
    }
  }
  &-btn {
    z-index: 0;
    display: grid;
    justify-content: flex-start;
    align-items: center;
    * {
      font-family: inherit;
      height: 3rem;
      width: 8rem;
      font-weight: 800;
      font-size: 1.7rem;
    }
  }
}
.title {
  font-size: $font-size;
  font-weight: 800;
  margin-bottom: 2rem;
}
.section {
  padding: $padding;
  background: white;
  position: relative;
}
.section.filter {
  @include divider();
}
