<div class="footer">
  <div class="footer_col1">
    <a [routerLink]="" class="navlink">{{ "buttons.home" | transloco }}</a>
    <a [routerLink]="['about-us']" class="navlink">{{
      "aboutUsPage.aboutUs" | transloco
    }}</a>
    <a [routerLink]="['about-us']" class="navlink">{{
      "buttons.destination" | transloco
    }}</a>
  </div>
  <div class="footer_col2">
    <figure class="footer_col2_logo">
      <img src="/assets/images/bk/footer.png" alt="" />
    </figure>
    <a class="footer_col2_phone navlink" socialLink [type]="'whatsapp'">{{
      phone
    }}</a>
    <app-oursocialmedia
      [isWhite]="false"
      class="footer_col2_sc"
    ></app-oursocialmedia>
    <div class="footer_col2_sub">
      <p class="footer_col2_sub-title">{{ "footer.sub-title" | transloco }}</p>
      <p class="footer_col2_sub-desc">
        {{ "footer.sub-desc" | transloco }}
      </p>
    </div>
    <app-custom-input
      class="footer_col2_input"
      [placeholder]="'inputs.email' | transloco"
      [icon]="icons.mail"
      [formControl]="ctrl"
    ></app-custom-input>
    <button (click)="submit()" class="footer_col2_btn main-btn">Submit</button>
  </div>
  <div class="footer_col3">
    <a [routerLink]="['block']" class="navlink">{{
      "buttons.blog" | transloco
    }}</a>
    <a [routerLink]="['offers']" class="navlink">{{
      "buttons.trips" | transloco
    }}</a>
    <a [routerLink]="['medical']" class="navlink">{{
      "buttons.medicTreat" | transloco
    }}</a>
  </div>
</div>
