@import "/src/assets/css/abstract/mixins";

$wdth: 40rem;
$hight: 30rem;

$left: 15%;
.main {
  width: $wdth;
  height: $hight;
  color: white;
  position: relative;
  img {
    @include shadow;
    width: $wdth;
    height: $hight;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: $left;
    z-index: -1;
  }

  .city {
    text-decoration: underline;
    font-size: 5rem;
    left: $left + 5%;
    position: absolute;
  }
  .date {
    width: clamp(50%, 5rem, 80%);
    font-size: 1rem;
    left: $left + 5%;
    position: absolute;
    top: 25%;
  }
  .year {
    color: black;
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 3rem;
    transform: translateY(-50%) rotateZ(-90deg);
    z-index: 10;
  }
}
