@import "/src/assets/css/abstract/variables";
$midnight: $accent;
$clouds: #ecf0f1;
// General

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
// Layout

/* Accordion styles */
.tabs {
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.25);
  width: 100%;
}
.tab {
  width: 100%;

  color: white;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: $midnight;
    font-weight: bold;
    cursor: pointer;
    font-size: 2rem;
    /* Icon */
    &:hover {
      background: darken($midnight, 10%);
    }
    &::after {
      content: "\276F";
      width: 1rem;
      height: 1rem;
      text-align: center;
      transition: all 0.35s;
    }
  }
  &-content {
    max-height: 0;
    padding: 1rem 2rem;
    color: $midnight;
    background: white;
    transition: all 0.35s;

    &__item {
      font-size: 2rem;
    }
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $midnight;
    cursor: pointer;
    &:hover {
      background: darken($midnight, 10%);
    }
  }
}

// :checked
input:checked {
  + .tab-label {
    background: darken($midnight, 10%);
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
  }
}
