@import "/src/assets/css/abstract/variables";
$midnight: $accent;
$clouds: #ecf0f1;

.tabs {
  overflow: scroll;

  height: 100%;
  width: 100%;
}
.tab {
  width: 100%;

  color: white;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: $midnight;
    align-items: center;
    cursor: pointer;
    margin: 0rem;

    /* Icon */
    &:hover {
      background: darken($midnight, 10%);
    }
    p {
      font-size: 2rem;
      font-weight: 600;
      margin: 0rem;
      text-transform: capitalize;
    }
    i {
      transition: all 0.2s ease-out;
      font-size: 2rem;
    }
  }

  &-label.open {
    i {
      transform: rotateZ(-180deg);
    }
  }

  &-content {
    height: 0px;
    transition: all 0.2s ease-out;
    padding: 0rem;
    color: $midnight;
    background: white;
    transition: all 0.35s ease-out;

    &__item {
      cursor: pointer;
      padding: 1.5rem;

      display: flex;
      justify-content: flex-start;
      align-items: center;
      p {
        font-size: 2rem;
        padding: 0rem;
        margin: 0rem;
        text-transform: capitalize;
        font-weight: 300;
        color: black;
      }

      &:not(:last-child) {
        border-bottom: solid 1px lightgrey;
      }
    }
  }
  &-content.open {
    height: unset;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $midnight;
    cursor: pointer;
    &:hover {
      background: darken($midnight, 10%);
    }
  }
}
