@import "/src/assets/css/abstract/variables";
$midnight: $accent;
$clouds: #ecf0f1;

.tabs {
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.25);
  width: 100%;
}
.tab {
  width: 100%;

  color: white;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: $midnight;
    align-items: center;
    cursor: pointer;
    margin: 0rem;

    /* Icon */
    &:hover {
      background: darken($midnight, 10%);
    }
    p {
      font-size: 2rem;
      font-weight: bold;
    }
    i {
      transition: all 0.2s ease-out;
      font-size: 2rem;
    }
  }

  &-label.open {
    i {
      transform: rotateZ(-180deg);
    }
  }

  &-content {
    height: 0px;
    transition: all 0.2s ease-out;
    // padding: 1rem 2rem;
    color: $midnight;
    background: white;
    transition: all 0.35s;

    &__item {
      cursor: pointer;
      font-size: 2rem;
    }
  }
  &-content.open {
    height: unset;
    padding: 1rem 2rem;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $midnight;
    cursor: pointer;
    &:hover {
      background: darken($midnight, 10%);
    }
  }
}
