<form [formGroup]="form">
  <div class="main">
    <div class="img">
      <img src="assets/images/bk/profile.png" alt="" />
    </div>
    <div class="controls">
      <app-profileinput
        placeholder="Full Name"
        [icon]="icons.profile"
        [required]="true"
        formControlName="fullName"
      >
        <mat-error>this field is required</mat-error>
      </app-profileinput>
      <app-profileinput
        formControlName="phone"
        placeholder="Phone Number"
      ></app-profileinput>
      <app-profileinput
        formControlName="email"
        placeholder="Email Address"
      ></app-profileinput>
      <app-profileinput
        formControlName="birthDate"
        placeholder="DD-MM-YYYY"
      ></app-profileinput>
      <app-profileinput
        formControlName="country"
        placeholder="Country"
      ></app-profileinput>
      <app-profileinput
        formControlName="title"
        placeholder="Title"
      ></app-profileinput>
      <!-- {{ form.valid }} -->
      <button class="main-btn">Update Information</button>
    </div>
  </div>
</form>
