<div class="aboust-us">
  <section class="about-us__banner">
    <img src="../../../assets/images/bk/about-us@1x.png" />
    <div class="banner-text">
      <h1>{{ "aboutUsPage.aboutUs" | transloco }}</h1>
      <p>{{ "aboutUsPage.bannerMission1" | transloco }}</p>
      <p>{{ "aboutUsPage.bannerMission2" | transloco }}</p>
    </div>
  </section>
  <section class="about-us__body">
    <div class="who-are-we">
      <h1 class="about-us-headline">
        {{ "aboutUsPage.whoAreWe" | transloco }}
      </h1>
      <p>
        {{ "aboutUsPage.whoAreWeAnswer" | transloco }}
      </p>
    </div>
    <div class="plane-image">
      <img src="../../../assets/images/bk/plane.png" alt="" />
    </div>
    <div class="what-we-offer">
      <h1 class="about-us-headline">
        {{ "aboutUsPage.whatWeOffer" | transloco }}
      </h1>
    </div>
    <div class="saferni-services">
      <div class="saferni-service">
        <div class="saferni-service__image">
          <img src="../../../assets/images/svgs/about-us-thumbs.svg" />
        </div>
        <p>{{ "aboutUsPage.services.service1" | transloco }}</p>
      </div>
      <div class="saferni-service">
        <div class="saferni-service__image">
          <img src="../../../assets/images/svgs/about-us-map.svg" />
        </div>
        <p>{{ "aboutUsPage.services.service2" | transloco }}</p>
      </div>
      <div class="saferni-service">
        <div class="saferni-service__image">
          <img src="../../../assets/images/svgs/about-us-globe.svg" />
        </div>
        <p>{{ "aboutUsPage.services.service3" | transloco }}</p>
      </div>
    </div>
  </section>
</div>
