@import "/src/assets/css/abstract/variables";
@import "/src/assets/css/abstract/mixins";
.main {
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  color: white;

  padding: 0rem 7.5%;
  &_quickreach {
    flex: 8;
    display: flex;
    justify-content: flex-start;
  }

  &_social-icons {
    margin-right: 5rem;

    &:lang(ar) {
      margin-right: unset;
      margin-left: 5rem;
    }
  }
  
  @include res(tab) {
    display: none;
  }
}
