@import "/src/assets/css/abstract/mixins";

.main {
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  color: white;

  &_quickreach {
    flex: 8;
    display: flex;
    justify-content: flex-start;
  }

  &_social-icons {
    margin-right: 5rem;
  }
  &_login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    * {
      margin: 0 0.5rem;
    }
  }

  @include res(tab) {
    display: none;
  }
}
