<div class="main">
  <div class="main_quickreach">
    <app-header-icon
      *ngFor="let q of quickReach"
      [txt]="q.info | transloco"
      [icon]="q.icon"
    ></app-header-icon>
  </div>
  <app-oursocialmedia class="main_social-icons"></app-oursocialmedia>
  <div class="language-selector" [matMenuTriggerFor]="menu">
    <i class="fa fa-globe"></i>
    <p class="language-name">{{ localService.locale | language }}</p>
    <i class="fa fa-chevron-down"></i>
  </div>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      *ngFor="let locale of localService.allLocales"
      (click)="localService.changeLangTo(locale)"
    >
      {{ locale | language }}
    </button>
  </mat-menu>
</div>
