<div class="main page-padding">
    <div class="main_quickreach">
        <app-header-icon *ngFor="let q of quickReach" [txt]="q.info" [icon]="q.icon"></app-header-icon>
    </div>
    <app-oursocialmedia></app-oursocialmedia>
    <div *ngIf="!isSigned" class="main_login">
        <div class="main_social-login">Login</div>
        <div class="main-btn">Sign Up</div>
    </div>
    <div *ngIf="isSigned" class="main_user">
        <app-header-icon txt="Hey, Sameh" icon="user.svg" [nopadding]="true"></app-header-icon>
    </div>
</div>