<div class="main page-padding">
  <div class="main_quickreach">
    <app-header-icon
      *ngFor="let q of quickReach"
      [txt]="q.info | transloco"
      [icon]="q.icon"
    ></app-header-icon>
  </div>
  <app-oursocialmedia class="main_social-icons"></app-oursocialmedia>
  <div *ngIf="!isSigned" class="main_login log">
    <div
      class="main_social-login"
      [routerLink]="['/login', { isLogin: false }]"
      routerLinkActive="router-link-active"
    >
      Login
    </div>
    <div class="main-btn" [routerLink]="['/login', { isLogin: true }]">
      Sign Up
    </div>
  </div>
  <div
    *ngIf="isSigned"
    [routerLink]="['/profile']"
    routerLinkActive="router-link-active"
    class="main_user log"
  >
    <app-header-icon
      txt="Hey, Sameh"
      icon="user.svg"
      [nopadding]="true"
    ></app-header-icon>
  </div>
</div>
