.main_social {
  display: flex;
  width: 100%;
  justify-content: space-evenly;

  &-info > a {
    display: flex;
    align-items: flex-end;
  }
  img {
    padding: 0.5rem;
    height: 4rem;
    width: 4rem;
  }
  img.small {
    height: 3rem;
    width: 3rem;
  }
}
.isWhite {
  filter: invert(85%) sepia(95%) saturate(0%) hue-rotate(109deg)
    brightness(105%) contrast(104%);
}
