<div
  class="main"
  [ngClass]="{ 'all-border': hasBorder }"
  [attr.aria-describedby]="userAriaDescribedBy"
  [attr.aria-labelledby]="parentFormField?.getLabelId()"
>
  <div class="display" (click)="isShowen = !isShowen">
    <app-validation-icon
      class="display-prefix"
      [icon]="icons.profile"
      [isFocused]="isShowen"
      [errors]="errmsg"
      [placeholder]="placeholder"
    ></app-validation-icon>
    <p class="display-text">{{ placeholder }}</p>
    <p class="display-data">{{ str }}</p>
    <i
      class="fa fa-chevron-down display-suffix"
      [ngClass]="{ shown: isShowen }"
    ></i>
  </div>
  <ul class="expandable" [ngClass]="{ shown: isShowen }">
    <li class="options" *ngFor="let i of value | keyvalue">
      <div class="options-title">{{ i.key | upperFirstChar }}</div>
      <mat-icon class="options-minus clickable" (click)="decrease(i.key)"
        >remove</mat-icon
      >

      <div class="options-value">{{ i.value }}</div>
      <mat-icon class="options-plus clickable" (click)="increase(i.key)"
        >add</mat-icon
      >
    </li>
  </ul>
</div>
