@import "/src/app/css/abstract/variables";
@import "/src/app/css/abstract/mixins";
.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background: white;
  font-size: 1.5rem;
  color: grey;
  align-items: center;
  // border: $border;
  padding: 1rem;
  &:hover {
    border: $accent solid 1px;
  }

  .row {
    margin-left: auto;
    width: 20%;
    order: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .key {
      color: $accent;
      transition: transform 0.2s;
      &:hover {
        transform: scale(1.1);
      }
    }
    &:lang(ar) {
      margin-left: unset;
      margin-right: auto;
    }
  }
  .prefix {
    order: 1;
    margin: 0rem 1rem;
    font-size: 1.5rem;
    color: grey;
    text-transform: capitalize;
    width: 100%;
    display: flex;
    align-items: center;
  }
  input {
    text-align: end;
    border: none;
    width: 100%;
    height: 100%;
    order: 2;
    margin: $form-file-padding;
    &:focus {
      outline: none;
    }
  }
  input:focus + mat-icon {
    color: $accent;
  }
}
