<div class="tour-infomation">
  <app-banner-carousel
    [images]="getCarouselImages()"
    [centeredTexts]="getCarouselTexts()"
    [screenHeightPercentage]="60"
  ></app-banner-carousel>

  <div class="fab" style="bottom: 5rem" (click)="scrollToBooking()">
    <div class="circle-fab">
      <div class="inner-circle-fab">
        <p>{{ "tour-info.book" | transloco }}</p>
      </div>
    </div>
  </div>
  <div class="fab" style="bottom: 13rem">
    <div class="whatsapp-fab" socialLink [type]="'whatsapp'">
      <img src="../../../assets/images/svgs/whatsapp.svg" />
    </div>
  </div>
  <div class="tour-infomation__content-grid">
    <div class="content-grid-col1">
      <section class="trip-info-card">
        <div class="trip-card-header">
          <div class="trip-card-header__image">
            <app-saferni-image
              [imageModel]="trip.previewImage"
            ></app-saferni-image>
          </div>

          <!-- <app-read-only-stars
            [stars]="3.5"
            [color]="'#fff'"
          ></app-read-only-stars> -->
        </div>
        <div class="trip-card-brief-info">
          <h2 class="trip-card-brief-info__city-name">
            {{ trip.name }}
          </h2>
          <div class="trip-card-brief-info__pills">
            <app-pill
              [text]="'general.duration' | transloco: { days: trip.duration }"
              [iconClass]="'las la-clock'"
            ></app-pill>
            <app-pill
              [text]="'general.peopleCount' | transloco: { count: '1-7' }"
              [iconClass]="'las la-user-friends'"
            ></app-pill>

            <app-pill
              [text]="'general.adjustable' | transloco"
              [iconClass]="'las la-sliders-h'"
            ></app-pill>
          </div>
        </div>

        <div class="trip-card-features">
          <div class="trip-card-features__row">
            <h2>{{ "tour-info.destination" | transloco }}</h2>
            <p>{{ trip.city.name }}</p>
          </div>
          <div class="trip-card-features__row">
            <h2>{{ "tour-info.departure" | transloco }}</h2>
            <p>{{ trip.city.name }}</p>
          </div>
          <div class="trip-card-features__row">
            <h2>{{ "tour-info.departureTime" | transloco }}</h2>
            <p>10:30 AM</p>
          </div>
          <div class="trip-card-features__row" *ngIf="trip.hotel">
            <h2>{{ "tour-info.accomidation" | transloco }}</h2>
            <p>{{ trip.hotel.name }}</p>
          </div>
          <div class="trip-card-features__row">
            <h2>{{ "various.price" | transloco }}</h2>
            <p>{{ trip.basePrice.toString() | price }}</p>
          </div>
        </div>

        <button class="main-btn" (click)="showOnMap()">
          <p>{{ "tour-info.showOnMap" | transloco }}</p>
        </button>
      </section>
      <section class="brief-intro">
        <h1 class="brief-intro__city-name">{{ trip.name }}</h1>
        <div class="brief-intro__pills">
          <app-pill
            [text]="'general.duration' | transloco: { days: trip.duration }"
            [iconClass]="'las la-clock'"
          ></app-pill>
          <app-pill
            [text]="'general.peopleCount' | transloco: { count: '1-7' }"
            [iconClass]="'las la-user-friends'"
          ></app-pill>
          <!-- <app-pill
            [text]="trip.basePrice.toString() | price"
            [iconClass]="'las la-tag'"
          ></app-pill> -->
          <app-pill
            [text]="'general.adjustable' | transloco"
            [iconClass]="'las la-sliders-h'"
          ></app-pill>
        </div>
        <p class="brief-intro__description">
          The city embraces Asia on the one hand and Europe on the other.
          Istanbul is Turkey's most populous city and its cultural and financial
          center. Located on both sides of the Bosphorus, the narrow strait
          between the Black Sea and the Marmara Sea, Istanbul bridges Asia and
          Europe both physically and culturally.
        </p>
      </section>

      <section class="places">
        <h2 class="section-title">
          {{ "tour-info.visitedPlaces" | transloco }}
        </h2>
        <p class="section-description">
          {{ "tour-info.visitedPlacesInfo" | transloco }}
        </p>
        <div class="places__swiper">
          <swiper
            class="slider"
            [slidesPerView]="1"
            [spaceBetween]="25"
            [grabCursor]="true"
            [(index)]="placesSwiperIndex"
          >
            <ng-template
              swiperSlide
              class="slide"
              style="width: 100%; height: 100%; cursor: pointer"
              *ngFor="
                let group of [].constructor(
                  math.ceil(planLocations.length / 4)
                );
                let i = index
              "
            >
              <div class="places__grid" swiperSlide>
                <div
                  class="places__grid__item"
                  *ngFor="
                    let item of planLocations.slice(i * 4, i * 4 + 4);
                    let j = index
                  "
                  (click)="goToMapLocation(item.id)"
                >
                  <app-saferni-image [imageModel]="item.images[0]">
                  </app-saferni-image>
                  <p>{{ item.name }}</p>
                </div>
              </div>
            </ng-template>
          </swiper>
          <div
            class="swiper-arrow left"
            (click)="placesGirdOnSwipe(false)"
            *ngIf="planLocations.length > 4"
          >
            <i class="fa fa-chevron-left"></i>
          </div>
          <div
            class="swiper-arrow right"
            (click)="placesGirdOnSwipe(true)"
            *ngIf="planLocations.length > 4"
          >
            <i class="fa fa-chevron-right"></i>
          </div>
        </div>
        <!-- <div class="places__grid">
          <div
            class="places__grid__item"
            *ngFor="let item of planLocations; let i = index"
            (click)="goToMapLocation(item.id)"
          >
            <app-saferni-image [imageModel]="item.images[0]">
            </app-saferni-image>
            <p>{{ item.name }}</p>
          </div>
        </div> -->
      </section>

      <section class="features">
        <h2 class="section-title">{{ "tour-info.included" | transloco }}</h2>
        <p class="section-description">
          {{ "tour-info.icludedInfo" | transloco }}
        </p>
        <div class="features__grid">
          <div
            class="features__grid__item"
            *ngFor="let feature of trip.features"
          >
            <i
              [ngClass]="
                feature.included ? 'fa fa-check-square' : 'fa fa-times'
              "
              [ngStyle]="{ color: feature.included ? '#20aed5' : 'red' }"
            ></i>
            <div class="feature-details">
              <p>{{ feature.name }}</p>
              <i
                class="fa fa-info-circle info"
                *ngIf="feature.info"
                matTooltip="{{ feature.info }}"
                matTooltipClass="feature-tooltip"
              ></i>
            </div>
          </div>
        </div>
      </section>

      <section class="booking-section" id="booking">
        <h2 class="section-title">
          {{ "tour-info.bookingInfo" | transloco }}
        </h2>
        <p class="section-description">
          {{ "tour-info.bookingNotShared" | transloco }}
        </p>
        <form
          [formGroup]="bookForm"
          (ngSubmit)="onFormSubmitted()"
          class="booking-form"
        >
          <app-custom-input
            formControlName="fullName"
            [icon]="icons.profile"
            [placeholder]="'inputs.name' | transloco"
            [hasBorder]="true"
          ></app-custom-input>

          <app-phone-input
            [hasBorder]="true"
            formControlName="phone"
            [icon]="icons.phone"
          ></app-phone-input>
          <app-custom-input
            [hasBorder]="true"
            formControlName="email"
            [icon]="icons.mail"
            [placeholder]="'inputs.email' | transloco"
          ></app-custom-input>
          <app-custom-date-picker
            [hasBorder]="true"
            [icon]="icons.profile"
            formControlName="arrivalDate"
            [placeholder]="'inputs.arriveDate' | transloco"
          ></app-custom-date-picker>
          <app-ticket-counter
            [hasBorder]="true"
            formControlName="adult"
            [prefix]="'inputs.ticket.adult' | transloco"
          ></app-ticket-counter>
          <app-ticket-counter
            [hasBorder]="true"
            formControlName="child"
            [prefix]="'inputs.ticket.child' | transloco"
          ></app-ticket-counter>

          <app-custom-textarea
            formControlName="message"
            [hasBorder]="true"
            [placeholder]="'inputs.message' | transloco"
            [icon]="icons.message"
          ></app-custom-textarea>
          <div class="booking-form__summary">
            <p class="booking-form__summary__header">
              {{ "tour-info.bookingSummary" | transloco }}
            </p>
            <ul class="booking-form__summary__list">
              <li>{{ trip.name }}</li>
              <li
                transloco="tour-info.summary.peopleCount"
                [translocoParams]="{ children: '5', adults: '10' }"
              ></li>
              <li *ngIf="bookForm.get('arrivalDate')?.value">
                {{ "tour-info.summary.arrivalDate" | transloco }}:
                {{ bookForm.get("arrivalDate")?.value | date }}
              </li>
            </ul>

            <div class="booking-form__summary__price">
              <p>{{ "tour-info.summary.totalPrice" | transloco }}:</p>
              <p>
                {{
                  trip.priceData
                    | priceCaculator: guestData
                    | price: trip.priceData.currency
                }}
              </p>
            </div>
          </div>
          <button
            class="main-btn"
            type="submit"
            [ngClass]="{ 'button--loading': isSubmiting }"
          >
            <p>{{ "tour-info.book" | transloco }}</p>
          </button>
        </form>
      </section>
    </div>
    <div class="content-grid-col2">
      <section class="trip-info-card">
        <div class="trip-card-header">
          <div class="trip-card-header__image">
            <app-saferni-image
              [imageModel]="trip.previewImage"
            ></app-saferni-image>
          </div>
          <app-read-only-stars
            [stars]="4.5"
            [color]="'#fff'"
          ></app-read-only-stars>
        </div>
        <div class="trip-card-brief-info">
          <h2 class="trip-card-brief-info__city-name">
            {{ trip.name }}
          </h2>
          <div class="trip-card-brief-info__pills">
            <app-pill
              [text]="'general.duration' | transloco: { days: trip.duration }"
              [iconClass]="'las la-clock'"
            ></app-pill>
            <app-pill
              [text]="'general.peopleCount' | transloco: { count: '1-7' }"
              [iconClass]="'las la-user-friends'"
            ></app-pill>

            <app-pill
              [text]="'general.adjustable' | transloco"
              [iconClass]="'las la-sliders-h'"
            ></app-pill>
          </div>
        </div>

        <div class="trip-card-features">
          <div class="trip-card-features__row">
            <h2>{{ "tour-info.destination" | transloco }}</h2>
            <p>{{ trip.city.name }}</p>
          </div>
          <div class="trip-card-features__row">
            <h2>{{ "tour-info.departure" | transloco }}</h2>
            <p>{{ trip.city.name }}</p>
          </div>
          <div class="trip-card-features__row">
            <h2>{{ "tour-info.departureTime" | transloco }}</h2>
            <p>10:30 AM</p>
          </div>
          <div class="trip-card-features__row" *ngIf="trip.hotel">
            <h2>{{ "tour-info.accomidation" | transloco }}</h2>
            <p>{{ trip.hotel.name }}</p>
          </div>
          <div class="trip-card-features__row">
            <h2>{{ "various.price" | transloco }}</h2>
            <p>{{ trip.basePrice.toString() | price }}</p>
          </div>
        </div>

        <button class="main-btn" (click)="showOnMap()">
          <p>{{ "tour-info.showOnMap" | transloco }}</p>
        </button>
      </section>
    </div>
  </div>

  <section class="similar-tours" *ngIf="relatedTrips && relatedTrips.length>0">
    <div class="similar-tours__header">
      <h2 class="section-title">
        {{ "tour-info.similarTours" | transloco }}
      </h2>
      <p class="section-description">
        {{ "tour-info.similarToursInfo" | transloco }}
      </p>
    </div>
    <div class="similar-tours__grid">
      <app-trip-card
        *ngFor="let item of relatedTrips; let i = index"
        [id]="item.id"
        [img]="item.previewImage"
        [name]="item.name"
        [price]="item.priceData"
        [duration]="item.duration"
        (click)="goToTour(item.id)"
      ></app-trip-card>
    </div>
  </section>
</div>
