@import "/src/assets/css/abstract/variables";
@import "/src/assets/css/abstract/mixins";

.tour-infomation {
  &__content-grid {
    display: grid;
    grid-template-columns: 1fr 51rem 17rem 43rem 1fr;

    gap: 4rem 0rem;

    grid-template-rows: repeat(10, 25rem);
    grid-auto-rows: min-content;

    padding: 7.5rem 0rem;

    .brief-intro {
      grid-column: 2/3;
      grid-row: 1 / span 1;
      border-bottom: 1px solid $dividerColor;

      &__city-name {
        font-weight: bold;
        font-size: 5.3rem;
      }
      &__description {
        font-weight: 400;
        font-size: 1.5rem;
        color: #717171;
      }
      &__cost-duration {
        font-weight: 400;
        font-size: 3rem;
        color: #252629;
      }
    }

    .trip-info-card {
      grid-column: 4/5;
      grid-row-start: 1;

      height: min-content;
      display: flex;
      flex-direction: column;
      box-shadow: $subtleShadow;

      .trip-card-header {
        position: relative;
        width: 100%;
        height: 25%;
        &__image {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          @include imageOverlay(0.25);
        }
        &__price {
          text-align: start;
          line-height: 1;

          position: absolute;
          left: 2rem;
          top: 1rem;
          font-size: 5.4rem;
          font-weight: bold;
          color: #fff;
        }
        app-read-only-stars {
          position: absolute;
          right: 2rem;
          top: 1rem;
        }
      }

      .trip-card-brief-info {
        display: flex;
        flex-direction: column;

        padding: 2rem;

        &__city-name {
          font-size: 3.8rem;
          font-weight: 400;
          font-family: $secondary-font;
        }

        &__price-duration {
          font-weight: 400;
          font-size: 1.9rem;
          text-transform: capitalize;
          color: #717171;
        }
      }

      .trip-card-features {
        padding: 2rem;
        &__row {
          display: flex;
          justify-content: space-between;
          h2 {
            text-transform: capitalize;
            font-size: 2.5rem;
            font-weight: bold;
          }
          p {
            text-transform: capitalize;
            font-size: 1.9rem;
            font-weight: 300;
          }
        }
      }

      .main-btn {
        align-self: flex-start;
        margin: 5rem 2rem;
      }
    }

    .places {
      grid-column: 2/3;

      display: flex;
      flex-direction: column;
      &__title {
        font-size: 3.1rem;
        font-weight: bold;
        text-transform: capitalize;
      }
      &__description {
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: capitalize;
      }
      &__grid {
        margin-top: 2rem;

        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, calc(calc(51rem - 2.2rem) / 2));

        gap: 2.2rem;
      }
    }
  }
}
