<div class="info-reviews">
  <div class="review-table">
    <div class="review-table__header">
      <h1>Review Scores</h1>
      <p>check our clients reviews and share with us</p>
    </div>
    <div class="review-table__content">
      <div class="flex-spacer"></div>
      <div class="table-rows">
        <div class="table-row">
          <h3 class="table-row__title">Rating</h3>
          <h3 class="table-row__score">60%</h3>
          <div class="table-row__bar">
            <div class="animated-progress"></div>
          </div>
        </div>
        <div class="table-row">
          <h3 class="table-row__title">Rating</h3>
          <h3 class="table-row__score">60%</h3>
          <div class="table-row__bar">
            <div class="animated-progress"></div>
          </div>
        </div>
        <div class="table-row">
          <h3 class="table-row__title">Rating</h3>
          <h3 class="table-row__score">60%</h3>
          <div class="table-row__bar">
            <div class="animated-progress"></div>
          </div>
        </div>
        <div class="table-row">
          <h3 class="table-row__title">Rating</h3>
          <h3 class="table-row__score">60%</h3>
          <div class="table-row__bar">
            <div class="animated-progress"></div>
          </div>
        </div>
      </div>
      <div class="overall-score">
        <p>4.0</p>
        <app-read-only-stars [stars]="4"></app-read-only-stars>
      </div>
    </div>
  </div>
</div>
